<footer>
  <div class="container">
    <div class="brand"><a href="/"><img src="/assets/images/sassquatch-white.png" alt="Sassquatch."></a></div>
  </div>
</footer><!-- /footer -->

<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/scripts/min/sassquatch.min.js"></script>