<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
  <div class="header__content">
    <div class="container">
      <h1 class="brand"><a href="/"><img src="/assets/images/sassquatch.svg" alt="Sassquatch. Simple. Modular. Accessible."></a></h1>
    </div>
  </div>
  <!-- <div class="header__nav-wrapper">
    {% include "../components/navigation.twig" with {'modifier' : 'horizontal'} %}
  </div> -->
</header><!-- /header -->