/* SITEWIDE STYLES
------------------------------------------------------------------------------*/

/* Typography
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display-family;
}

h1 {
  @include set-type(68, 500, 72);
  margin-bottom: em(8);
}
h2 {
  @include set-type(56, 500, 60);  
  margin-bottom: em(8);
}
h3 {
  @include set-type(46, 500, 52);  
  margin-bottom: em(8);  
}
h4 {
  @include set-type(30, 500, 32);  
  margin-bottom: em(8);
}
h5 {
  @include set-type(24, 500, 28);  
  margin-bottom: em(8);
}
h6 {
  @include set-type(18, 500, 24);  
  margin-bottom: em(8); 
}

body {
  font-family: $font-body-family;
  @include set-type(16, 400, 20);
}

p {
  @include set-type(16, 400, 24);
  margin-bottom: em(16);
}

em {
  font-style: italic;
  font-weight: 700;
}
strong {
  font-weight: 900;
}

a {
  color: $color-link;
  text-decoration: none; 
  
  display: inline-block;
  padding-bottom: em(2);
  
  border-bottom: 2px solid;
  
  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

blockquote {
  @include set-type(24, 400, 32);
  padding-left: 1em;
  
  border-left: 8px solid $color-bg-dk;
  

  cite {
    @include set-type(16, 400, 20);
    font-size: 16px;

    display: block;
    
    margin-top: 0.5em;
    padding-top: 0.5em;
    
    border-top: 1px solid $color-bg-dk;
  }  
}


code,
pre {
  font-family: $font-mono-family;
  @include set-type(16, 500, 24);
  color: $color-text-lt;
  
  background: $color-bg-dk;
  
  padding: 0.25em;
}

/* Forms --> See components/_forms.scss
------------------------------------------------------------------------------*/



/* structure
------------------------------------------------------------------------------*/


/* Grid */
body {
  > header,
  > footer {
    @include outer-container;  
  }
}

section {
  @include outer-container;
}
aside {
  @include span-columns(4);
}

/* Navigation */
nav {
  ul {
  
    li {      
      display: inline-block;

      a {
        &:hover,
        &:focus {
          
        }
      }
    }
  }
}


/* Figures */
figure {
  margin: 1em 0 2em 0;
  padding: 0;
  
  img {
    min-width: 100%;
    height: auto;
  }
  
  figcaption {
    border-top: 1px solid $color-bg-dk;
    
    margin-top: 0.5em;
    padding-top: 0.5em;
  }
}

/* Lists */
ul {
  margin: 1em 0 2em 0;
  padding: 0;
  li {
    margin-bottom: em(8);
    padding: 0;
  }
}

ol {
  margin: 1em 0 2em 0;
  padding: 0;
  li {
    margin-bottom: em(8);
    padding: 0;
  }
}

dl {
  margin: 1em 0 2em 0;
  padding: 0;  
  dt {
    font-weight: 900;
  }
  dd {
    margin: 0;
    padding: 0;
    
    margin-bottom: 1em;
  }
}

/* Tables */
table {
  margin: 0;
  padding: 0;
  
  td,th {
    padding: 1em;    
    border: 1px solid $color-bg-dk;
  }
  
  tr:nth-child(even) {
    background: $color-bg-med;
  }
  
  thead {
    color: $color-text-lt;   
    background: $color-bg-dk;
    
    th {
      text-align: left;
    }
  }
  tbody {
   td {
     text-align: right;
   } 
  }
}

/* Articles */
article {
  @include span-columns(8);
}


/* Footer
------------------------------------------------------------------------------*/


/* Helpers
------------------------------------------------------------------------------*/
.li-display-inline {
  > li {
    display: inline;
  }
  > li:after {
    content: ', ';
  }
  > li:last-of-type {
    &:after {
      content: none;
    }
  }
}


/* Backgrounds
------------------------------------------------------------------------------*/


