/* STRUCTURE HELPERS
---------------------------------------------------------------------------*/
.container{
  @include clearfix();
  width:100%;
  max-width:$site-width;
  padding:0 $gutter-width;
  margin:0 auto;
  .container{
    padding:0;
  }
}

.no-margin{
  margin:0;
  &--top{
    margin-top:0;
  }
  &--bottom{
    margin-bottom:0;
  }
}

.full-width{
  width:100%;
}

.pull-right{
  float:right;
}

.hidden{
  display:none;
}

.spacer{
  background:transparent;
  margin:$gutter-width 0;
}