/* NAVIGATION COMPONENTS
---------------------------------------------------------------------------*/
.nav{
  a{
    transition:all 0.4s;
  }
  ul{
    padding-left:0;
  }
  &--primary{
    position:relative;
    ul{
      display:table;
      width:100%;
      li{
        display:table-cell;
        text-align:center;
        border-right:1px solid $color-med;
        &:last-of-type{
          border-right:none;
        }
        a{
          display:block;
          padding:10px 15px;
          background:$color-lt;
          color:$color-dk;
          text-decoration:none;
          &.drawer-toggle{
            padding-right:30px;
          }
          &:hover,
          &:focus,
          &.open{
            background:$color-med;
          }
        }
      }
    }
    .nav{
      &__submenu{
        width:100%;
        padding:15px 0;
      }
    }
  }
  &--inline{
    ul{
      @include clearfix();
      display:block;
      width:auto;
      li{
        display:inline-block;
        float:left;
        position:relative;
      }
    }
  }
  &--breadcrumbs{ 
    ul{
      @include clearfix();
      li{
        display:inline-block;
        float:left;
        &:after{
          content:"/";
          display:inline-block;
          margin:0 5px;
        }
        &:last-of-type{
          &:after{
            display:none;
          }
        }
      }
    }
  }
  &--vertical{
    ul{
      padding-left:45px;
      li{
        position:relative;
        a{
          display:block;
          padding:10px 15px;
          color:$color-dk;
          text-decoration:none;
          span{
            position:relative;
            z-index:1;
          }
          &:before{
            content:'';
            display:block;
            background:$color-lt;
            border-top:1px solid $color-med;
            position:absolute;
            width:1000%;
            height:100%;
            top:0;
            left:-100%;
            z-index:0;
            transition:all 0.4s;
          }
          &:hover,
          &:focus{
            &:before{
              background:$color-med;
            }
          }
        }
        ul{
          display:none;
        }
        &.active,
        &.active-trail{
          > ul{
            display:block;
          }
        }
      }
    }
    > ul{
      padding-left:0;
      overflow:hidden;
      > li{
        &:first-of-type{
          > a{
            &:before{
              border-top:none;
            }
          }
        }
      }
    }
  }
  &__submenu{
    position:absolute;
    z-index:10;
    top:100%;
    left:0;
    padding:15px;
    background:$color-med;
    text-align:left;
    ul{
      display:block;
      li{
        display:block;
        float:none;
        position:static;
        text-align:left;
        a{
          text-decoration:none;
          color:$color-dk;
          background:transparent;
          padding:10px 0;
          &:hover,
          &:focus{
            text-decoration:underline;
          }
        }
      }
    }
  }
}