/* NAVIGATION COMPONENTS
---------------------------------------------------------------------------*/
.nav{
  a{
    transition:all 0.4s;
  }
  ul{
    padding-left:0;
  }
  .nav__menu{
    .drawer-controls{
      a{
        padding-right:30px;
      }
    }
  }
  &--horizontal{
    position:relative;
    border-top:1px solid $color-brand-2-lt;
    border-bottom:1px solid $color-brand-2-lt;
    .nav__menu{
      display:table;
      width:100%;
      li{
        display:table-cell;
        font-weight:600;
        text-align:center;
        position:relative;
        &:last-of-type{
          > a,
          > .drawer-wrapper > a{
            border-right:1px solid $color-brand-2-lt;
          }
        }
        a{
          display:block;
          padding:10px 15px;
          background:$color-lt;
          color:$color-brand-2-dk;
          text-decoration:none;
          border-left:1px solid $color-brand-2-lt;
          &.drawer-toggle{
            padding-right:30px;
          }
          &:hover,
          &:focus,
          &.open{
            background:$color-brand-2-lt;
          }
        }
      }
    }
  }
  &--megamenu{
    .nav__menu{
      position:relative;
      li{
        position:static;
      }
    }
    .nav__submenu{
      .nav__menu{
        position:static;
      }
    }
  }
  &--breadcrumbs{
    margin-bottom:15px;
    ul{
      @include clearfix();
      li{
        display:inline-block;
        float:left;
        &:after{
          content:"/";
          display:inline-block;
          margin:0 5px;
        }
        &:last-of-type{
          &:after{
            display:none;
          }
        }
      }
    }
  }
  &--vertical{
    ul{
      li{
        position:relative;
        a{
          display:block;
          padding:10px 15px;
          color:$color-dk;
          text-decoration:none;
          border-bottom:1px solid $color-brand-2-lt;
          &:hover,
          &:focus{
            background:$color-brand-2-lt;
          }
        }
        ul{
          li{
            a{
              padding-left:40px;
            }
            ul{
              li{
                a{
                  padding-left:70px;
                }
                ul{
                  li{
                    a{
                      padding-left:100px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &--trail{
    ul{
      li{
        ul{
          display:none;
        }
        &.active,
        &.active-trail{
          > ul{
            display:block;
          }
        }
      }
    }
  }
  &--jumplinks{
    ul{
      li{
        a{

        }
      }
    }
  }
  &__submenu{
    position:absolute;
    z-index:10;
    top:100%;
    left:0;
    padding:15px;
    background:$color-lt;
    @include component-raised($color-brand-2-lt);
    border:1px solid $color-brand-2-lt;
    text-align:left;
    width:auto;
    min-width:100%;
    .nav__menu{
      display:block;
      li{
        display:block;
        text-align:left;
        white-space:nowrap;
        &:first-of-type{
          a{
            padding-top:0;
          }
        }
        &:last-of-type{
          a{
            border:none;
            padding-bottom:0;
          }
        }
        a{
          border:none;
          padding:10px 0;
          background:transparent;
          &:hover,
          &:focus{
            background:transparent;
            text-decoration:underline;
          }
        }
      }
    }
  }
}