/* NAVIGATION COMPONENTS
---------------------------------------------------------------------------*/
.nav{
  a{
    transition:all 0.4s;
  }
  ul{
    padding-left:0;
  }
  &--primary{
    position:relative;
    border-top:1px solid $color-med;
    border-bottom:1px solid $color-med;
    .nav__menu{
      display:table;
      width:100%;
      li{
        display:table-cell;
        font-weight:600;
        text-align:center;
        position:relative;
        &:last-of-type{
          a{
            border-right:1px solid $color-med;
          }
        }
        a{
          display:block;
          padding:10px 15px;
          background:$color-lt;
          color:$color-dk;
          text-decoration:none;
          border-left:1px solid $color-med;
          &.drawer-toggle{
            padding-right:30px;
          }
          &:hover,
          &:focus,
          &.open{
            
          }
        }
      }
    }
  }
  &--breadcrumbs{ 
    ul{
      @include clearfix();
      li{
        display:inline-block;
        float:left;
        &:after{
          content:"/";
          display:inline-block;
          margin:0 5px;
        }
        &:last-of-type{
          &:after{
            display:none;
          }
        }
      }
    }
  }
  &--vertical{
    ul{
      padding-left:45px;
      li{
        position:relative;
        a{
          display:block;
          padding:10px 15px;
          color:$color-dk;
          text-decoration:none;
          span{
            position:relative;
            z-index:1;
          }
          &:before{
            content:'';
            display:block;
            background:$color-lt;
            border-top:1px solid $color-med;
            position:absolute;
            width:1000%;
            height:100%;
            top:0;
            left:-100%;
            z-index:0;
            transition:all 0.4s;
          }
          &:hover,
          &:focus{
            &:before{
              background:$color-med;
            }
          }
        }
        ul{
          display:none;
        }
        &.active,
        &.active-trail{
          > ul{
            display:block;
          }
        }
      }
    }
    > ul{
      padding-left:0;
      overflow:hidden;
      > li{
        &:first-of-type{
          > a{
            &:before{
              border-top:none;
            }
          }
        }
      }
    }
  }
  &__submenu{
    position:absolute;
    z-index:10;
    top:100%;
    left:0;
    padding:15px;
    background:$color-lt;
    border:1px solid $color-med;
    text-align:left;
    width:auto;
    min-width:100%;
    .nav__menu{
      display:block;
      li{
        display:block;
        text-align:left;
        white-space:nowrap;
        &:first-of-type{
          a{
            padding-top:0;
          }
        }
        &:last-of-type{
          a{
            border:none;
            padding-bottom:0;
          }
        }
        a{
          border:none;
          padding:10px 0;
        }
      }
    }
  }
}