body{
  background:$color-neutral-lt;
}

.brand{
	@include set-type(54, 400, 60);
	&__logo{
		@include remove-link-interaction();
	  width:100%;
	  max-width:300px;
	  img{
	    width:100%;
	  }
	  &--small{
	  	display:block;
	  	margin-right:20px;
	  	img{
	  		width:100%;
	  		max-width:150px;
	  	}
	  }
	}
}