/* MIXINS
---------------------------------------------------------------------------*/

/* Converts pixel font size value into EM based on base font size variable */
@mixin set-type($theSize, $theWeight: "", $theHeight: "") {
  font-size: #{$theSize / $font-base-size}em;
  @if $theWeight != "" {
    font-weight: $theWeight;
  }
  @if $theHeight != "" {
    line-height: #{$theHeight / $theSize};
  }
}

/* Adds an animated effect to link interactions */
@mixin link-interaction($interaction-color) {
  display:inline-block;
  padding:2px 0;
  margin:-2px 0;
  position:relative;
  text-decoration:none;
  &:after{
    content:'';
    height:1px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    background:$interaction-color;
    transition:width 0.2s ease-in-out;
  }
  &:hover,
  &:focus{
    &:after{
      width:100%;
    }
  }
}

/* Hide elements while remaining accessible */
@mixin set-webaim-hidden() {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* Reset styles applied with the set-webaim-hidden mixin */
@mixin set-webaim-hidden-false() {
	position:relative;
	left:auto;
	top:auto;
	width:auto;
	height:auto;
	overflow:visible;
}

@mixin clearfix(){
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}


