/* VARIABLES
------------------------------------------------------------------------------*/

/* Brand Colours
------------------------------------------------------------------------------*/
$color-threshold: 20%;

$color-brand-1:       #FF5033;  // red
$color-brand-1-lt:    lighten($color-brand-1, $color-threshold);
$color-brand-1-dk:    darken($color-brand-1, $color-threshold);

$color-brand-2:       #E4FF00;  // Yellow
$color-brand-2-lt:    lighten($color-brand-2, $color-threshold);
$color-brand-2-dk:    darken($color-brand-2, $color-threshold);

$color-brand-3:       #00C360;  // Green
$color-brand-3-lt:    lighten($color-brand-3, $color-threshold);
$color-brand-3-dk:    darken($color-brand-3, $color-threshold);

$color-brand-4:       #00CBC4;  // Blue
$color-brand-4-lt:    lighten($color-brand-4, $color-threshold);
$color-brand-4-dk:    darken($color-brand-4, $color-threshold);

$color-brand-5:       #FF009D;  // Pink
$color-brand-5-lt:    lighten($color-brand-5, $color-threshold);
$color-brand-5-dk:    darken($color-brand-5, $color-threshold);

$color-neutral:       #E1E0D6;  // Grey
$color-neutral-lt:    lighten($color-neutral, $color-threshold);
$color-neutral-dk:    darken($color-neutral, $color-threshold);

$brand-colors: $color-brand-1, $color-brand-2, $color-brand-3, $color-brand-4, $color-brand-5, $color-neutral;

/* General Colours
------------------------------------------------------------------------------*/
$color-lt:            #ffffff; // white
$color-med:           #CCCCCC; // grey
$color-dk:            #000000; // black

$color-danger:        #ff3333; // red
$color-danger-lt:     lighten($color-danger, $color-threshold);
$color-danger-dk:     darken($color-danger, $color-threshold);
$color-success:       #70db70; // green
$color-success-lt:    lighten($color-success, $color-threshold);
$color-success-dk:    darken($color-success, $color-threshold);
$color-caution:       #ffdb4d; // yellow
$color-caution-lt:    lighten($color-caution, $color-threshold);
$color-caution-dk:    darken($color-caution, $color-threshold);
$color-info:          #80ccff; // blue
$color-info-lt:       lighten($color-info, $color-threshold);
$color-info-dk:       darken($color-info, $color-threshold);

/* Typography
------------------------------------------------------------------------------*/
$font-base-size: 16;

$font-body-family:    'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-display-family: 'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-icon-family:    'FontAwesome';

/* Layout vars
------------------------------------------------------------------------------*/
$site-width:1260px;

$columns:12;
$gutter: 15;
$gutter-width:$gutter + px;

$mobile:       480px;
$tablet:       768px;
$desktop:      991px;
$desktop-wide: 1199px;

$breakpoints: $mobile $tablet $desktop $desktop-wide;
$grid-prefix: sm md lg xl;
