/* STATUS COMPONENTS
---------------------------------------------------------------------------*/
.status{
	padding-left:25px;
	position:relative;
	&__icon{
		position:absolute;
		left:0;
		top:2px;
		color:$color-neutral;
	}
	&__bar{
		width:100%;
		height:20px;
		border:1px solid $color-neutral;
		border-radius:3px;
		position:relative;
		&:before{
			content:'';
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:0%;
			background:$color-danger;
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
			transition:all 0.4s ease-in-out;
		}
	}
	&__text{
		display:block;
		margin-top:5px;
	}
	&--25{
		.status__bar{
			&:before{
				width:25%;
			}
		}
	}
	&--50{
		.status__bar{
			&:before{
				width:50%;
				background:#AF6C2D;
			}
		}
	}
	&--75{
		.status__bar{
			&:before{
				width:75%;
				background:#938F43;
			}
		}
	}
	&--100{
		.status__icon{
			color:$color-success;
		}
		.status__bar{
			&:before{
				width:100%;
				border-top-right-radius:3px;
				border-bottom-right-radius:3px;
				background:$color-success;
			}
		}
	}
}