/* GRID
---------------------------------------------------------------------------*/
.row,
.row_alt{
  @include clearfix();
  margin:0 (-$gutter-width);
  margin-bottom:$gutter-width;
}

*[class*="col"]{
  padding:0 ($gutter-width);
}

@for $i from 1 through $columns{
  .col_#{$i}{
    float:left;
    width: (($i / $columns) * 100%);
  }
  .push_#{$i}{
    margin-left:(($i / $columns) * 100%);
  }
  .pull_#{$i}{
    margin-left:-(($i / $columns) * 100%);
  }
}

@for $z from 1 through 4{
  @media(min-width: nth($breakpoints, $z)){
    @for $i from 1 through $columns{
      .col_#{nth($grid-prefix, $z)}-#{$i}{
        float:left;
        width: (($i / $columns) * 100%);
      }
      .push_#{nth($grid-prefix, $z)}-#{$i}{
        margin-left:(($i / $columns) * 100%);
      }
      .pull_#{nth($grid-prefix, $z)}-#{$i}{
        margin-left:-(($i / $columns) * 100%);
      }
    }
  }
}


