/* STRUCTURE HELPERS
---------------------------------------------------------------------------*/
.centered-content{
  @include clearfix();
  width:100%;
  max-width:$site-width;
  padding:0 $gutter-width;
  margin:0 auto;
}

.full-width{
  width:100%;
}

.pull-right{
  float:right;
}

.hidden{
  display:none;
}

.table{
  display:table;
  width:100%;
}

.fixed-top{
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.card{
  padding:15px;
  border:1px solid $color-dk;
  overflow:hidden;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.padded{
  padding:10px;    
}

/* COMPONENT HELPERS
---------------------------------------------------------------------------*/
.img-centered{
  display:block;
  margin:0 auto;
}

.table-wrapper{
  overflow-x:auto;
  &:last-child{
    margin-bottom:0;
  }
  table{
    width:100%;
  }
}

/* TYPOGRAPHY HELPERS
---------------------------------------------------------------------------*/
.text-centered{
  text-align:center;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

/* ACCESSIBILITY HELPERS
---------------------------------------------------------------------------*/
.webaim-hidden,
.skip-link{
  @include set-webaim-hidden();
}

.skip-link:focus {
  @include set-webaim-hidden-false();
  position:fixed;
  left: $gutter-width;
  top: $gutter-width;   
  background: $color-lt;
}