/* ALERT COMPONENTS
---------------------------------------------------------------------------*/
.alert{
  padding:15px;
  padding-left:40px;
  margin-bottom:15px;
  position:relative;
  @include component-raised($color-brand-2-lt);
  border-left:8px solid;
  font-weight:600;
  border-color:$color-lt $color-lt $color-lt $color-brand-2-dk;
  background:$color-lt;
  color:$color-brand-2-dk;
  i{
    color:$color-brand-2-dk;
  }
  &--success{
    border-color:$color-success-lt $color-success-lt $color-success-lt $color-success-dk;
    background:$color-success-lt;
    color:$color-success-dk;
    i{
      color:$color-success-dk;
    }
  }
  &--warning{
    border-color:$color-caution-lt $color-caution-lt $color-caution-lt $color-caution-dk;
    background:$color-caution-lt;
    color:$color-caution-dk;
    i{
      color:$color-caution-dk;
    }
  }
  &--danger{
    border-color:$color-danger-lt $color-danger-lt $color-danger-lt $color-danger-dk;
    background:$color-danger-lt;
    color:$color-danger-dk;
    i{
      color:$color-danger-dk;
    }
  }
  &__icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
  }
  &__close{
    position:absolute;
    top:15px;
    right:15px;
  }
}