/* BUTTON COMPONENTS
---------------------------------------------------------------------------*/
button{
  font-size:$font-base-size + px;
  color:$color-brand-2-dk;
  text-align:left;
  cursor:pointer;
  border:none;
}

.btn{
  padding:10px 25px;
  cursor:pointer;
  transition:all 0.2s;
  display:inline-block;
  appearance:none;
  text-decoration:none;
  border-radius:0;
  border:none;
  margin-bottom:5px;
  color:$color-brand-2-dk;
  @include set-type(14, 700, 20);
  @include component-raised($color-brand-2-lt);
  &:hover,
  &:focus{
    background:$color-brand-2-lt;
  }
  &--primary{
    background:$color-brand-1-dk;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-lt;
      color:$color-brand-1-dk;
    }
  }
  &--secondary{
    background:$color-brand-2-dk;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-brand-2;
      color:$color-brand-2-dk;
    }
  }
  &--link{
    background:transparent;
    text-decoration:none;
    border:0;
    padding:0;
    box-shadow:none;
    &:hover,
    &:focus{
      background:transparent;
      text-decoration:underline;
    }
  }
  &--pager{
    display: inline-block;
    position: relative;
    i{
      position:absolute;
      top:50%;
      transform:translate(0, -50%);
      transition:transform 0.1s ease-in-out; 
    }
    &:hover,
    &:focus{
      i{
        animation-name: hover-button;
        animation-duration: 1s;
        transform:translate(0, -50%);
      }
    }
    &-forward{
      padding-left: 30px;
      i{
        left:10px;
      }
    }
    &-back{
      padding-right: 30px;
      i{
        right:10px;
      }
    }
  }
  &--close{
    padding:0;
    background:transparent;
    box-shadow:none;
    border:none;
    &:hover,
    &:focus{
      background:transparent;
    }
  }
  &--dropdown{
    @include set-type(18, 600, 22);
    width:100%;
    text-align:left;
    padding:10px 15px;
    background:$color-lt;
    position:relative;
    margin-bottom:0;
  }
}