/* DROPDOWN COMPONENTS
---------------------------------------------------------------------------*/
.dropdown{
  position:relative;
  &__wrapper{
    position:relative;
  }
  &__toggle{
    position:relative;
    padding-right:30px;
    width:100%;
    text-align:left;
    i{
      position:absolute;
      right:15px;
      top:50%;
      transform:translateY(-50%);
      transition:transform 0.2s;
    }
    &.open{
      i{
        transform:rotate(180deg) translateY(50%);
      }
    }
  }
  &__content{
    position:relative;
    z-index:2;
    overflow:hidden;    
    &--overlay{
      position:absolute;
      width:100%;
      z-index:10;
    }
  }
}