
body{
  &.popup--open{
    overflow:hidden;
  }
}

.popup{
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:$color-lt;
  border:1px solid $color-brand-2-lt;
  z-index:1500;
  width:500px;
  max-width:100%;
  height:auto;
  max-height:100%;
  overflow:auto;
  &__content{
    position:relative;
    padding:30px;
  }
  &__close{
    position:absolute;
    top:5px;
    right:5px;
    background:transparent;
    border:none;
    cursor:pointer;
    + *{
      margin-top:0;
    }
  }
  &__overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba($color-brand-2-dk,0.8);
    z-index:1000;
  }
}