.tooltip-toggle{
  position:relative;
  overflow:visible;
  &:hover,
  &:focus{
    .tooltip{
      display:inline-block;
    }
  }
}

.tooltip{
  display:none;
  background:$color-lt;
  width:200px;
  padding:10px;
  position:absolute;
  bottom:100%;
  left:50%;
  margin-bottom:10px;
  transform:translateX(-50%);
  z-index:10;
  @include component-raised($color-neutral-lt);
  &:before,
  &:after{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  &--top{
    &:before{
      @include triangle(9.5px, $color-neutral-lt);
      bottom:-9.5px;
    }
    &:after{
      @include triangle(8px, $color-lt);
      bottom:-8px;
    }
  }
  &--bottom{
    bottom:auto;
    top:100%;
    margin-bottom:0;
    margin-top:10px;
    &:before{
      @include triangle(9.5px, $color-neutral-lt, "up");
      top:-9.5px;
    }
    &:after{
      @include triangle(8px, $color-lt, "up");
      top:-8px;
    }
  }
  &--left,
  &--right{
    &:before,
    &:after{
      top:50%;
      transform:translateY(-50%);
    }
  }
  &--left{
    bottom:auto;
    left:auto;
    right:100%;
    top:50%;
    margin-bottom:0;
    margin-right:10px;
    transform:translateY(-50%);
    &:before{
      @include triangle(9.5px, $color-neutral-lt, "right");
      bottom:auto;
      left:auto;
      right:-9.5px;
      transform:translateY(-50%);
    }
    &:after{
      @include triangle(9.5px, $color-lt, "right");
      bottom:auto;
      left:auto;
      right:-8px;
      transform:translateY(-50%);
    }
  }
  &--right{
    bottom:auto;
    left:100%;
    top:50%;
    margin-bottom:0;
    margin-left:10px;
    transform:translateY(-50%);
    &:before{
      @include triangle(9.5px, $color-neutral-lt, "left");
      bottom:auto;
      left:-9.5px;
      transform:translateY(-50%);
    }
    &:after{
      @include triangle(9.5px, $color-lt, "left");
      bottom:auto;
      left:-8px;
      transform:translateY(-50%);
    }
  }
}
