/* BUTTON COMPONENTS
---------------------------------------------------------------------------*/
.button{
  padding:10px 25px;
  cursor:pointer;
  transition:all 0.2s;
  display:inline-block;
  appearance:none;
  text-decoration:none;
  border-radius:0;
  border:none;
  margin-right:5px;
  margin-bottom:5px;
  background:$color-lt;
  color:$color-brand-2-dk;
  @include set-type(16, 700, 22);
  @include component-raised($color-brand-2-lt);
  &:active{
    transform:translate(1px, 1px);
    box-shadow:inset 0px 0px 10px $color-brand-2-lt;
  }
  &--primary{
    background:$color-brand-1-dk;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-lt;
      color:$color-brand-1-dk;
    }
  }
  &--secondary{
    background:$color-brand-2-dk;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-brand-2;
      color:$color-brand-2-dk;
    }
  }
  &--small{
    padding:5px 15px;
    @include set-type(14, 700, 20);
  }
  &--large{
    padding:15px 30px;
    @include set-type(18, 700, 24);
  }
  &[disabled]{
    cursor:default;
    opacity:0.5;
  }
}