/* Brand Colours
------------------------------------------------------------------------------*/
$color-threshold: 20%;

$color-brand-1:       #FF5033;  // red
$color-brand-1-lt:    lighten($color-brand-1, $color-threshold);
$color-brand-1-dk:    darken($color-brand-1, $color-threshold);

$color-brand-2:       #E4FF00;  // Yellow
$color-brand-2-lt:    lighten($color-brand-2, $color-threshold);
$color-brand-2-dk:    darken($color-brand-2, $color-threshold);

$color-brand-3:       #00C360;  // Green
$color-brand-3-lt:    lighten($color-brand-3, $color-threshold);
$color-brand-3-dk:    darken($color-brand-3, $color-threshold);

$color-brand-4:       #00CBC4;  // Blue
$color-brand-4-lt:    lighten($color-brand-4, $color-threshold);
$color-brand-4-dk:    darken($color-brand-4, $color-threshold);

$color-brand-5:       #FF009D;  // Pink
$color-brand-5-lt:    lighten($color-brand-5, $color-threshold);
$color-brand-5-dk:    darken($color-brand-5, $color-threshold);

$color-neutral:       #E1E0D6;  // Grey
$color-neutral-lt:    lighten($color-neutral, $color-threshold);
$color-neutral-dk:    darken($color-neutral, $color-threshold);

/* General Colours
------------------------------------------------------------------------------*/
$color-lt:            #ffffff; // white
$color-med:           #CCCCCC; // grey
$color-dk:            #000000; // black

/* Contextual Colours
------------------------------------------------------------------------------*/
$color-link: $color-brand-1-dk;
$color-link-hover: $color-brand-1;

$color-danger:        #ff3333; // red
$color-danger-lt:     lighten($color-danger, $color-threshold);
$color-danger-dk:     darken($color-danger, $color-threshold);

$color-success:       #70db70; // green
$color-success-lt:    lighten($color-success, $color-threshold);
$color-success-dk:    darken($color-success, $color-threshold);

$color-caution:       #ffdb4d; // yellow
$color-caution-lt:    lighten($color-caution, $color-threshold);
$color-caution-dk:    darken($color-caution, $color-threshold);

$color-info:          #80ccff; // blue
$color-info-lt:       lighten($color-info, $color-threshold);
$color-info-dk:       darken($color-info, $color-threshold);