$theSize: 20;
$font-base-size: 16;

$font-brand-family:   'Pacifico', cursive;
$font-body-family:    'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-display-family: 'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-icon-family:    'FontAwesome';