<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
  <div class="header__content">
    <div class="container">
      <h1 class="brand"><a href="/">Sassquatch.</a></h1>
      <span class="tagline">Minimal. Modular. <span class="tagline__right">Accessible.</span></span>
    </div>
  </div>
  <div class="header__nav-wrapper">
    {% include "../components/navigation.twig" with {'modifier' : 'horizontal'} %}
  </div>
</header><!-- /header -->