<a class="skip-link" href="#main-content">Skip to main content</a>

<header>
  <div class="centered-content">
    <div class="row">
      <div class="col_sm-4">
        <h1 class="no-text"><a href="/"><img src="assets/images/SSwatch.svg" alt="Sswatch"></a></h1>
      </div>
      <div class="col_sm-8">
        <nav class="nav nav_main">
          <ul class="menu menu_main">
            <li><a href="/getting-started.html">Getting Started</a></li>
            <li><a href="/sass.html">SASS</a></li>
            <li><a href="/javascript.html">Javascript</a></li>
            <li><a href="/components.html">Components</a></li>
            <li><a href="/configuration.html">Configuration</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header><!-- /header -->