<a class="skip-link" href="#main-content">Skip to main content</a>

<header>
  <div class="banner">
    <div class="centered-content">
      <h1 class="no-text"><img src="assets/images/SSwatch.svg" alt="Industrial boilerplate"></h1>
    </div>
  </div>
</header><!-- /header -->