<a class="skip-link" href="#main-content">Skip to main content</a>

<header>
  <div class="centered-content">
    <div class="grid">
      <div class="grid__col--sm-4">
        <h1 class="no-text"><a href="/"><img src="assets/images/SSwatch.svg" alt="Sswatch"></a></h1>
      </div>
    </div>
  </div>
</header><!-- /header -->