<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
  <div class="header__content">
    <div class="centered-content">
      <h1><a href="/" class="logo"><img src="assets/images/SSwatch.svg" alt="Sswatch"></a></h1>
      <span class="tagline">Modular. Extendible. Accessible.</span>
    </div>
  </div>
  <div class="header__nav-wrapper">
    {% include "../components/navigation.twig" %}
  </div>
</header><!-- /header -->