<a class="skip-link" href="#main-content">Skip to main content</a>

<header>
  <div class="header__top">
    <div class="centered-content">
      <div class="grid">
        <div class="grid__col--md-4">
          <h1 class="no-text"><a href="/"><img src="assets/images/SSwatch.svg" alt="Sswatch"></a></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    {% include "../components/navigation.twig" %}
  </div>
</header><!-- /header -->