<nav class="nav nav_side">
  <h2>Section title</h2>
  <ul class="menu menu_side">
    <li><a href="#">About</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">List item</a></li>
    <li><a href="#">List item</a></li>
  </ul>
</nav>