<nav class="nav nav_side">
  <h2>{{ page }}</h2>
  <ul class="menu menu_side">
    {% if page == "Getting Started" %}
    
    {% elseif page == "SASS" %}

    {% elseif page == "Javascript" %}

    {% elseif page == "Components" %}

    {% elseif page == "Configuration" %}
    
    {% endif %}
  </ul>
</nav>