/* ALERT COMPONENT
---------------------------------------------------------------------------*/
.alert{
  padding:15px;
  margin-bottom:15px;
  position:relative;
  @include component-raised($color-default-lt);
  border-left:8px solid;
  font-weight:600;
  border-color:$color-lt $color-lt $color-lt $color-default-dk;
  background:$color-lt;
  color:$color-default-dk;
  i{
    color:$color-default-dk;
  }
  &--success{
    border-color:$color-lt $color-lt $color-lt $color-success-dk;
    background:$color-lt;
    color:$color-success-dk;
    i{
      color:$color-success-dk;
    }
  }
  &--warning{
    border-color:$color-lt $color-lt $color-lt $color-warning-dk;
    background:$color-lt;
    color:$color-dk;
    i{
      color:$color-warning-dk;
    }
  }
  &--error{
    border-color:$color-lt $color-lt $color-lt $color-error-dk;
    background:$color-lt;
    color:$color-error-dk;
    i{
      color:$color-error-dk;
    }
  }
  &--has-icon{
    padding-left:40px;
  }
  &__icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
  }
  &__close{
    position:absolute;
    top:15px;
    right:15px;
  }
}