/* COMPONENT HELPERS
---------------------------------------------------------------------------*/
.img-centered{
  display:block;
  margin:0 auto;
}

.table-wrapper{
  overflow-x:auto;
  &:last-child{
    margin-bottom:0;
  }
  table{
    width:100%;
  }
}