	/* Buttons
	--------------*/
	button.col-2-12 {
		padding: 0;
	}
	button {
		cursor:pointer;
		width: 100%;
		
		border: 1px solid $color-button-border;
		background: $color-button-background;
	
		@include set-type(14, 700, 42);
	
		[data-icon]:before {
			font-family: $font-icon-family; /* BYO icon font, mapped smartly */
			content: attr(data-icon);
			speak: none; /* Not to be trusted, but hey. */
		}		
	}
	@media only screen and (min-width: 767px) {
		button {
			@include set-type(16,700,42);
		}
	} 
	button.toggle,
	.link-toggle	{
		margin-top: 0;
		[data-icon]:before {
			content: '\f0d7';
		}
	}
	button.toggle.active,
	.link-toggle.active	{
		[data-icon]:before {
			content: '\f0d8';
		}
	}
	button.select {
		[data-icon]:before {
			content: none;
		}
	}
	button.select.active {
		overflow: hidden;
		text-indent: -200%;

		color: $color-text-lt;
		background-color: $color-button-background-hover;

		[data-icon]:before {
			content: "\f00c";
			margin-left: 150%;
		}
	}
	
	button.input {
		color: $color-text-lt;	
		background: $color-button-background;
	}