/* STRUCTURE HELPERS
---------------------------------------------------------------------------*/
.centered-content{
  @include clearfix();
  width:100%;
  max-width:$site-width;
  padding:0 $gutter-width;
  margin:0 auto;
}

.full-width{
  width:100%;
}

.pull-right{
  float:right;
}

.hidden{
  display:none;
}

.card{
  padding:15px;
  border:1px solid $color-neutral-dk;
  overflow:hidden;
}