/* TYPOGRAPHY HELPERS
---------------------------------------------------------------------------*/
.text-centered{
  text-align:center;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

.no-text{
  line-height:1;
}

.no-break{
  white-space:nowrap;
}

.ellipsis{
  display:block;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

*[data-attach-icon-after]{
  i{
    margin-left:5px;
  }
}

*[data-attach-icon-before]{
  i{
    margin-right:5px;
  }
}