/* TYPOGRAPHY HELPERS
---------------------------------------------------------------------------*/
.text-centered{
  text-align:center;
}

.text-right{
  text-align:right;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

.no-break{
  white-space:nowrap;
}

.ellipsis{
  display:block;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

.tagline{
  @include set-type(28, 600, 34);
}

*[data-attach-icon-after]{
  i{
    margin-left:5px;
  }
}

*[data-attach-icon-before]{
  i{
    margin-right:5px;
  }
}