/* TYPOGRAPHY HELPERS
---------------------------------------------------------------------------*/
.text-centered{
  text-align:center;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

.no-text{
  line-height:1em;
}

.no-break{
  white-space:nowrap;
}

.ellipsis{
  display:block;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}