/* MIXINS
---------------------------------------------------------------------------*/

/* Converts pixel font size value into EM based on base font size variable */
@mixin set-type($theSize, $theWeight: "", $theHeight: "") {
  font-size: #{$theSize / $font-base-size}em;
  @if $theWeight != "" {
    font-weight: $theWeight;
  }
  @if $theHeight != "" {
    line-height: #{$theHeight / $theSize}em;
  }
}

/* Hide elements while remaining accessible */
@mixin set-webaim-hidden() {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* Reset styles applied with the set-webaim-hidden mixin */
@mixin set-webaim-hidden-false() {
	position:relative;
	left:auto;
	top:auto;
	width:auto;
	height:auto;
	overflow:visible;
}


