<footer class="footer">
  <div class="container">
  	<div class="grid grid--flex-md grid--flex-centered">
  		<div class="grid__col--md-1">
  			<img src="assets/images/sassquatch-outline-icon-white.png" alt="Sassquatch" class="footer__logo">
  		</div>
  		<div class="grid__col--md-4">
  			<p><strong>Developed by</strong> <a href="https://industrialagency.ca">industrial</a></p>
  		</div>
  	</div>
  </div>
</footer><!-- /footer -->

<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/scripts/min/sassquatch.min.js"></script>