<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
	<div class="container">
		<div class="header__content">
			<h1>
				<img src="assets/images/sassquatch-icon.svg" alt="Sassquatch" class="header__logo breakpoint-hidden-md">
				<img src="assets/images/sassquatch.svg" alt="Sassquatch" class="header__logo breakpoint-shown-md">
			</h1>
			<button id="mobile-toggle" class="button button--primary button--large dropdown__toggle breakpoint-hidden-md" aria-controls="main-menu">
				<i class="far fa-times dropdown__icon--open" aria-hidden="true"></i>
				<i class="far fa-bars dropdown__icon--closed" aria-hidden="true"></i>
				<span class="webaim-hidden">Toggle Menu</span>
			</button>
		</div>
		<div id="main-menu" class="dropdown__content breakpoint-shown-md--force" aria-labelledby="mobile-toggle">
			<nav class="nav nav--horizontal">
				<ul class="nav__menu">
					<li class="nav__menu-item">
						<a href="https://github.com/industrialdev/sassquatch/tree/master/packages/theme" class="nav__menu-link">
							<i class="fab fa-github" aria-hidden="true"></i>&nbsp;
							View the repository on Github
						</a>
					</li>
					<li class="nav__menu-item">
						<a href="https://www.npmjs.com/package/@sassquatch/theme" class="nav__menu-link">
							<i class="fab fa-npm" aria-hidden="true"></i>&nbsp;
							View the package on NPM
						</a>
					</li>
				</ul>
			</nav>
		</div>
  </div>
</header><!-- /header -->