<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
	<div class="container">
		<h1><img src="assets/images/sassquatch.svg" alt="Sassquatch" class="header__logo"></h1>
		<nav class="nav">
			<ul class="nav__menu">
				<li><a href="https://github.com/industrialdev/sassquatch/tree/master/packages/theme"><i class="fab fa-github" aria-hidden="true"></i> View the repository on Github</a></li>
				<li><a href="https://www.npmjs.com/package/@sassquatch/theme"><i class="fab fa-npm" aria-hidden="true"></i> View the package on NPM</a></li>
			</ul>
		</nav>
  </div>
</header><!-- /header -->