<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header">
	<div class="container">
		<h1><img src="assets/images/sassquatch.svg" alt="Sassquatch" class="header__logo"></h1>
  </div>
</header><!-- /header -->