/* MAIN NAV STYLES
---------------------------------------------------------------------------*/

/*Default Below 480px*/
body {
	padding-top: 40px;//add padding to offset mobile nav
}

/* toggle button
--------------------*/
.header-main {
	.toggle {
		position: absolute;
		top: 0;
		right: 0;

		max-height: 39px;
		min-width: 60px;
		max-width: 70px;
		
		padding: 0;
		margin: 0;
		
		@include set-type(14, 400, 40);
		color: $color-brand-1;
		
		border: none;
		border-left: 1px solid $color-text-dk;
		background: $color-bg-lt;
		
		z-index: 900;
	}
	.toggle.active,
	.toggle:hover {
		min-height: 40px;
		color: $color-text-lt;
		background: $color-bg-dk;
	}
}


/* nav structure
--------------------*/
.nav {
	position: absolute;
	top:0;
	left: 0;
	
	width: 100%;
	padding: 0;
	margin: 0;

	max-height: 40px;
	overflow: hidden;

	border-bottom: 1px solid $color-text-dk;
	background: $color-bg-lt;
	
	transition: max-height 1s ease;
	
	ul {
		padding: 0;
		margin: 0;
		li {
			min-width: 100%;
			border-bottom: 1px solid $color-text-dk;
									
			a {
				width: 100%;
				height: 100%;
				
				display: block;
				text-indent: 1em;
				
				@include set-type(14, 700, 40);
				color: $color-text-dk;
				text-decoration: none;
								
				img {
					float: left;

					width: auto;
					max-height: 32px;
					
					padding-top: 2px;
				}

				/* CSS-Tricks icon include method */
				[data-icon]:before {
				  font-family: $font-icon-family; /* BYO icon font, mapped smartly */
				  content: "\f105";
				  speak: none; /* Not to be trusted, but hey. */
				  
				  display: block;
				  float: right;
				  
				  margin-right: 0.5em;
				}
			}
			a:hover {
				color: $color-text-lt;
				background: $color-brand-4;
			}
		}
		li.active {
			a {
				color: $color-text-lt;
				background: $color-brand-1;
			}
		}
	}
}

.nav.active {
	/*	keep this value in sync with the animation length
		bigger this number is the longer the naimation needs to take */
	max-height: 600px;
}

.nav-main {
	li.menu-home {
		a {
			@include set-type(24, 700, 40);
			color: $color-brand-1;
			text-transform: uppercase;
			text-indent: 0;
			
			img {
			}
			span {
				margin-left: 0.5em;
			}
		}
		a:hover {
			color: $color-brand-1;
			background: $color-brand-2;	
		}
	}
	li.menu-build {	
		
	}
	li.menu-benefits {
		
	}
	li.menu-map {
		
	}
	li.menu-buy {
		
	}
}
.nav-utility {
	li {
		a {
			
		}
	}
}

@media handheld, only screen and (min-width: 599px) {
	body {
		padding: 0;
	}
	
	header {
		background-color: $color-bg-lt;
	}
	.nav {
		display: table;
		position: relative;

		max-height: 100%;
		
		top:auto;
		left: auto;
		
		margin: 0 auto;
		padding: 0;
		
		ul {
			width: 100%;
	
			padding: inherit;
			margin: inherit;
						
			background: $color-bg-dk;
	
			li {
				display: inline-block;
				min-width: 0;
				
				a {
					text-indent: 0;
					color: $color-text-lt;
					background: $color-bg-dk;
					
					padding: 0 1em;
					border-right: 1px solid $color-brand-4;
					
					[data-icon]:before {
						content: none;
					}
				}
				a:hover {
					background: $color-brand-4;
				}
				a.active {
					background: $color-brand-1;
				}
			}
			li:last-child {
				a {
					border: none;
				}
			}
	
			li.menu-home {
				display: block;
				width: 100%;
				
				float: left;
				clear: both;
				
				border: none;
				background: $color-bg-lt;				
				a {
					padding: 0;
					img {
						margin-bottom: 0.5em;
						
						max-width: 155px;
						width: auto;

						min-height: 0;
						max-height: 100%; 
						height: auto;
					}
					span {
						margin-left: 0.5em;
					}
				}
				a:hover {
					color: $color-brand-1;
					background: $color-brand-2;	
				}
			}
			li.menu-build {
			
			}
			li.menu-benefits {
				
			}
			li.menu-map {
				
			}
			li.menu-buy {
				
			}
			li.menu-lang {
				position: absolute;
				top:0;
				right: 0;
				
				width: auto;
				min-width: 0;
				
				border: none;
				a {
					border: none;
					
					@include set-type(14, 400, 40);
					text-decoration: underline;
					color: $color-text-dk;
					background: $color-bg-lt;
				}									
			}
		}
	}
}

@media handheld, only screen and (min-width: 899px) {
	.nav {
		border: none;
		ul {
			display: table-row;
			background: none;
			
			vertical-align: bottom;

			li {
				display: table-cell;
				width: 16.6675%;
				
				background: none;
				border:none;
				a {
					margin-top: 76px;
				}
			}
			li.menu-home {
				display: table-cell;
				width: 33.33%;
				max-height: 80px;
				a {
					img {
						max-width: 100%;
						height: auto;
						margin-bottom: 0;
					}
					margin: 0;
				}
			}
			.li.menu-lang {
				a {
					margin: 0;
				}
			}
		}
	}
}











