<section id="sassquatch-alerts">
	<h2 class="jumplink__target">Alerts</h2>
	<div class="alert alert--has-icon">
    <i class="alert__icon far fa-info-circle" aria-hidden="true"></i>
    This is an info alert
  </div>
  <div class="alert alert--success alert--has-icon">
    <i class="alert__icon far fa-check-circle" aria-hidden="true"></i>
    This is a success alert
  </div>
  <div class="alert alert--warning alert--has-icon">
    <i class="alert__icon far fa-exclamation-triangle" aria-hidden="true"></i>
    This is a warning alert
  </div>
  <div class="alert alert--error alert--has-icon">
    <i class="alert__icon far fa-exclamation-circle" aria-hidden="true"></i>
    This is a danger alert
  </div>     
</section>