<section id="sassquatch-buttons">
	<h2 class="jumplink__target">Buttons</h2>
	<button class="button">Basic Button</button>
	<button class="button button--large">Large Button</button>
	<button class="button button--small">Small Button</button>
	<button class="button button--primary">Primary Button</button>
	<button class="button button--secondary">Secondary Button</button>
	<button class="button button--text">Text Button</button>
	<button class="button button--full-width">Full Width Button</button>
</section>