<section id="container">
	<h2 class="jumplink__target">Container</h2>
	<p>The container element restricts the width of your content to a preset pixel dimension. The default width is 1260px with a 15px gutter on each side. This is configurable by overriding the $site-width variable and $gutter variable.</p>
</section>