<section id="sassquatch-dropdowns">
	<h2 class="jumplink__target">Dropdowns</h2>
	<div class="grid">
		<div class="grid__col--md-6">
			<div class="dropdown">
				<button id="dropdown-content-1-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-1" aria-expanded="false">Dropdown 1</button>
				<div id="dropdown-content-1" class="dropdown__content card" aria-labelledby="dropdown-content-1-control" aria-expanded="false" role="region">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="grid__col--md-6">
			<div class="dropdown">
				<button id="dropdown-content-2-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-2" aria-expanded="false">Dropdown Overlay</button>
				<div id="dropdown-content-2" class="dropdown__content dropdown__content--overlay card" aria-labelledby="dropdown-content-2-control" aria-expanded="false" role="region">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dropdown dropdown--accordion">
		<button id="accordion-content-1-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="accordion-content-1" aria-expanded="false">Accordion 1</button>
		<div id="accordion-content-1" class="dropdown__content card" aria-labelledby="accordion-content-1-control" aria-expanded="false" role="region">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="dropdown dropdown--accordion">
		<button id="accordion-content-2-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="accordion-content-2" aria-expanded="false">Accordion 2</button>
		<div id="accordion-content-2" class="dropdown__content card" aria-labelledby="accordion-content-2-control" aria-expanded="false" role="region">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</section>