<section id="sassquatch-dropdowns">
	<h2 class="jumplink__target">Dropdowns</h2>
	<div class="grid">
		<div class="grid__col--md-6">
			<div class="dropdown">
				<button id="dropdown-content-1-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-1" aria-expanded="false">Dropdown 1</button>
				<div id="dropdown-content-1" class="dropdown__content card" aria-labelledby="dropdown-content-1-control" aria-expanded="false">
					<p>This is example dropdown content</p>
				</div>
			</div>
			<div class="dropdown">
				<button id="dropdown-content-2-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-2" aria-expanded="false">Dropdown 2</button>
				<div id="dropdown-content-2" class="dropdown__content card" aria-labelledby="dropdown-content-2-control" aria-expanded="false">
					<p>This is example dropdown content</p>
				</div>
			</div>
			<div class="dropdown">
				<button id="dropdown-content-3-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-3" aria-expanded="false">Dropdown 3</button>
				<div id="dropdown-content-3" class="dropdown__content card" aria-labelledby="dropdown-content-3-control" aria-expanded="false">
					<p>This is example dropdown content</p>
				</div>
			</div>
			<div class="dropdown">
				<button id="dropdown-content-4-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-4" aria-expanded="false">Dropdown 4</button>
				<div id="dropdown-content-4" class="dropdown__content card" aria-labelledby="dropdown-content-4-control" aria-expanded="false">
					<p>This is example dropdown content</p>
				</div>
			</div>
		</div>
		<div class="grid__col--md-6">
			<div class="dropdown">
				<button id="dropdown-content-5-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-5" aria-expanded="false">Dropdown Overlay</button>
				<div id="dropdown-content-5" class="dropdown__content dropdown__content--overlay card" aria-labelledby="dropdown-content-5-control" aria-expanded="false">
					<p>This is example dropdown content</p>
				</div>
			</div>
		</div>
	</div>
</section>