<section id="sassquatch-forms">
	<h2 class="jumplink__target">Forms</h2>
	<form action="">
		<div class="form__group">
			<label for="text-1" class="form__label">Text Input</label>
			<input id="text-1" type="text" class="form__input" placeholder="Placeholder text">
		</div>
		<div class="form__group">
			<label for="select-1" class="form__label">Select Input</label>
			<select id="select-1" class="form__input">
				<option value="">Please Select</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
			</select>
		</div>
		<div class="form__group">
			<label for="textarea-1" class="form__label">Textarea</label>
			<textarea id="textarea-1" class="form__input"></textarea>
		</div>
		<fieldset class="form__group">
			<legend class="form__label">Radio Group</legend>
			<label class="form__radio">
				<input id="radio-1" type="radio" name="radios-1" value="radio-1">
				<span class="form__radio-label">Radio Button 1</span>
			</label>
			<label class="form__radio">
				<input id="radio-2" type="radio" name="radios-1" value="radio-2">
				<span class="form__radio-label">Radio Button 2</span>
			</label>
			<label class="form__radio">
				<input id="radio-3" type="radio" name="radios-1" value="radio-3">
				<span class="form__radio-label">Radio Button 3</span>
			</label>
		</fieldset>
		<fieldset class="form__group">
			<legend class="form__label">Checkbox Group</legend>
			<label class="form__checkbox">
				<input id="checkbox-1" type="checkbox" name="checkboxes-1" value="checkbox-1">
				<span class="form__radio-label">Checkbox 1</span>
			</label>
			<label class="form__checkbox">
				<input id="checkbox-2" type="checkbox" name="checkboxes-1" value="checkbox-2">
				<span class="form__radio-label">Checkbox 2</span>
			</label>
			<label class="form__checkbox">
				<input id="checkbox-3" type="checkbox" name="checkboxes-1" value="checkbox-3">
				<span class="form__checkbox-label">Checkbox 3</span>
			</label>
		</fieldset>
	</form>
</section>