<section id="sassquatch-menus">
  <h2 class="jumplink__target">Menus</h2>
  <h3>Basic Navigation</h3>
  <nav class="nav">
    <ul class="nav__menu">
      <li><a href="#">Nav Item</a></li>
      <li><a href="#">Nav Item</a></li>
      <li><a href="#">Nav Item</a></li>
      <li><a href="#">Nav Item</a></li>
      <li><a href="#">Nav Item</a></li>
    </ul>
  </nav>
  <h3>Breadcrumbs</h3>
  <nav class="nav nav--breadcrumbs">
    <ul class="nav__menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Category 1</a></li>
      <li><a href="#">Nested Category 1</a></li>
      <li><a href="#">Nested Category 2</a></li>
    </ul>
  </nav>
  <h3>Pagination</h3>
  <nav class="nav nav--pager">
    <ul class="nav__menu">
      <li class="prev"><a href="">Previous</a></li>
      <li><a href="">1</a></li>
      <li>...</li>
      <li><a href="">7</a></li>
      <li class="active"><a href="">8</a></li>
      <li><a href="">9</a></li>
      <li>...</li>
      <li><a href="">20</a></li>
      <li class="next"><a href="">Next</a></li>
    </ul>
  </nav>
</section>