<section id="parallax-elements">
	<h2>Parallax</h2>
	<div parallax-container>
		<p><img src="https://placehold.it/1230x500" alt="" parallax parallax-speed="-0.3"></p>
	</div>
	<p>Parallax is controlled by using custom attributes.</p>
	<p>By adding parallax-container to the parent element the parallax scrolling wont start until the object is in view.</p>
	<p>You can also set a maximum amount of pixel scrolling to the element by using the parallax-max attribute. parallax-max expects an integer value.</p>
	<p>Similarly to parallax-max you can also set parallax-min which will set a default starting position for your parallax-element. For example an element with parallax-min="500" will start 500 pixels above its default position.</p>
	<p>Finally you can set the speed and direction of the parallax effect by using the parallax-speed attribute. For best results this should be a value somewhere between -1 and 1.</p>
</section>
