<section id="sassquatch-popups">
	<h2 class="jumplink__target">Popups</h2>
	<button class="button" data-popup="popup-1">Example Popup</button>
	<button class="button" onclick='showPopup(new Date().toString(), "Current date and time");'>Dynamic Popup</button>
	<div id="popup-1" class="popup">
		<button class="popup__close"><i class="far fa-times" aria-hidden="true"></i><span class="webaim-hidden">Close popup</span></button>
		<div class="scrolling-content">
			<h3>Popup</h3>
			<p>This is an example of a long popup</p>
			<p>Sed fringilla mauris sit amet nibh. Maecenas vestibulum mollis diam. Praesent egestas tristique nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis leo.</p>

			<p>Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Curabitur at lacus ac velit ornare lobortis. Ut varius tincidunt libero. Suspendisse potenti.</p>

			<p>Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Ut varius tincidunt libero. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Praesent ut ligula non mi varius sagittis. Morbi mollis tellus ac sapien.</p>

			<p>Vivamus laoreet. Curabitur nisi. Phasellus ullamcorper ipsum rutrum nunc. Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Curabitur a felis in nunc fringilla tristique.</p>

			<p>Aenean ut eros et nisl sagittis vestibulum. Aenean viverra rhoncus pede. Sed in libero ut nibh placerat accumsan. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Praesent vestibulum dapibus nibh.</p>
		</div>
	</div>
</section>