<section id="sassquatch-popups">
	<h2 class="jumplink__target">Popups</h2>
	<button class="button" data-popup="popup-1">Example Popup</button>
	<button class="button" onclick='showPopup(new Date().toString(), "Current date and time");'>Dynamic Popup</button>
	<div id="popup-1" class="popup">
		<button class="popup__close"><i class="far fa-times" aria-hidden="true"></i><span class="webaim-hidden">Close popup</span></button>
		<h3>Popup</h3>
		<p>This is an example popup</p>
	</div>
</section>