<section id="slideouts">
  <h2 class="jumplink__target">Slideouts</h2>
  <div class="slideout__container">
    <div class="slideout__exterior">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
    </div>
    <div class="slideout">
      <ul class="slideout__controls" role="tablist">
        <li>
          <button id="slideout-1-control" role="tab" class="slideout__toggle" aria-controls="slideout-1" aria-selected="false">
            <i class="far fa-arrow-to-left" aria-hidden="true"></i>
            <span class="webaim-hidden">Toggle Slideout 1</span>
          </button>
        </li>
        <li>
          <button id="slideout-2-control" role="tab" class="slideout__toggle" aria-controls="slideout-2" aria-selected="false">
            <i class="far fa-arrow-to-left" aria-hidden="true"></i>
            <span class="webaim-hidden">Toggle Slideout 2</span>
          </button>
        </li>
        <li>
          <button id="slideout-3-control" role="tab" class="slideout__toggle" aria-controls="slideout-3" aria-selected="false">
            <i class="far fa-arrow-from-right" aria-hidden="true"></i>
            <span class="webaim-hidden">Toggle Slideout 3</span>
          </button>
        </li>
      </ul>
      <div class="slideout__content-wrapper">
        <div id="slideout-1" class="slideout__content" role="tabpanel" aria-labelledby="slideout-1-control">
          <h3>Slideout 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="slideout-2" class="slideout__content" role="tabpanel" aria-labelledby="slideout-2-control">
          <h3>Slideout 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="slideout-3" class="slideout__content slideout__content--overlay" role="tabpanel" aria-labelledby="slideout-3-control">
          <h3>Slideout 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>   
  </div>
  <div class="slideout slideout--fixed">
    <ul class="slideout__controls" role="tablist">
      <li>
        <button id="fixed-slideout-1-control" role="tab" class="slideout__toggle" aria-controls="fixed-slideout-1" aria-selected="false">
          <i class="far fa-arrow-to-left" aria-hidden="true"></i>
          <span class="webaim-hidden">Toggle Slideout 1</span>
        </button>
      </li>
      <li>
        <button id="fixed-slideout-2-control" role="tab" class="slideout__toggle" aria-controls="fixed-slideout-2" aria-selected="false">
          <i class="far fa-arrow-to-left" aria-hidden="true"></i>
          <span class="webaim-hidden">Toggle Slideout 2</span>
        </button>
      </li>
      <li>
        <button id="fixed-slideout-3-control" role="tab" class="slideout__toggle" aria-controls="fixed-slideout-3" aria-selected="false">
          <i class="far fa-arrow-from-right" aria-hidden="true"></i>
          <span class="webaim-hidden">Toggle Slideout 3</span>
        </button>
      </li>
    </ul>
    <div class="slideout__content-wrapper">
      <div id="fixed-slideout-1" class="slideout__content" role="tabpanel" aria-labelledby="fixed-slideout-1-control">
        <h3>Slideout 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="fixed-slideout-2" class="slideout__content" role="tabpanel" aria-labelledby="fixed-slideout-2-control">
        <h3>Slideout 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="fixed-slideout-3" class="slideout__content slideout__content--overlay" role="tabpanel" aria-labelledby="fixed-slideout-3-control">
        <h3>Slideout 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>