<section id="sassquatch-tabs">
	<h2 class="jumplink__target">Tabs</h2>
	<div class="tabs">
    <div class="tabs__list" role="tablist">
      <a id="tab-1" href="#" class="tabs__list-item tabs__tab-control active" role="tab" aria-selected="true" aria-controls="tab-1-content">Tab 1</a>
      <a id="tab-2" href="#" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="tab-2-content">Tab 2</a>
      <a id="tab-3" href="#" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="tab-3-content">Tab 3</a>
    </div>
    <div class="tabs__content-container">
      <div id="tab-1-content" class="tabs__content active" role="tabpanel" aria-labelledby="tab-1" tabindex="-1">
        <h3>Tab 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="tab-2-content" class="tabs__content" role="tabpanel" aria-labelledby="tab-2" tabindex="-1">
        <h3>Tab 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div id="tab-3-content" class="tabs__content" role="tabpanel" aria-labelledby="tab-3" tabindex="-1">
        <h3>Tab 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>