<section id="sassquatch-tooltips">
	<h2 class="jumplink__target">Tooltips</h2>
	<p>Tooltip Top <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--top">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
  <p>Tooltip Right <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--right">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
  <p>Tooltip Bottom <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--bottom">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
  <p>Tooltip Left <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--left">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
</section>