html,
body{
  font-size: $font-base-size + px; 
  font-family: $font-body-family;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}
  
*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family:$font-display-family;
  margin-bottom: 30px;
  margin-top:15px;
  &:first-child{
    margin-top:0;
  }
}

*{
  + h1, + .h1,
  + h2, + .h2,
  + h3, + .h3,
  + h4, + .h4,
  + h5, + .h5,
  + h6, + .h6{
    margin-top:45px;
  }
}

h1, .h1{
  @include set-type(32, 700);
}

h2, .h2{
  @include set-type(28, 600);
}

h3, .h3{
  @include set-type(24, 600);
}

h4, .h4{
  @include set-type(20, 600);
}

h5, .h5{
  @include set-type(18, 600);
}

h6, .h6{
  @include set-type(16, 600);
}

p{
  margin-bottom:30px;
  @include set-type(16, 400);
}

a{
  color:$color-link;
  @include link-interaction($color-link, 'true');
  @include set-type(16, 400);
}

img{
  border:none;
}

img{
  &:only-child{
    display:block;
  }
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

small{
  font-size:0.8em;
}

sup,
sub{
  font-size:0.6em;
}

sup{
  vertical-align:text-top;
}

sub{
  vertical-align:text-bottom;
}

ul,
ol{
  padding-left:20px;
  margin-bottom:30px;
  li{
    margin-bottom:10px;
    > ul,
    > ol{
      margin-top:10px;
      &:last-child{
        margin-top:10px;
      }
    }
  }
}

hr{
  margin:30px 0;
  border:none;
  height:1px;
  width:100%;
  background:$color-neutral;
  &.spacer{
    background:transparent;
    margin-top:0;
  }
}

details{
  display:block;
  summary{
    padding:10px;
  }
}

select::-ms-expand {
  display: none;
}
