@mixin clearfix(){
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin for-size($size) {
  @media (max-width: $size - 1) {
    @content;
  }
}

@mixin larger-than($size) {
  @media (min-width: $size) {
    @content;
  }
}