/* BRAND COLOR PALETTES
---------------------------------------------------------------------------*/

.palettes{
  *[class^="col_"]{
    margin-bottom:30px;
  }
}

.palette{
  height:150px;
  width:100%;
  position:relative;
  padding:0 33.333%;
  &_light,
  &_dark{
    display:block;
    width:33.333%;
    position:absolute;
    top:0;
    height:100%;
    padding:10px;
    box-sizing:border-box;
  }
  &_light{
    left:0;
    color:$color-dk;
  }
  &_dark{
    right:0;
    color:$color-lt;
  }
  &_info-light,
  &_info-default,
  &_info-dark{
    width:33.333%;
    padding:10px;
    float:left;
    text-transform:uppercase;
    cursor:pointer;
    .copy{
      margin-left:5px;
      color:transparent;
      transition:color 0.2s;
    }
  }
  &_copy{
    height:0;
    width:0;
  }
  @for $i from 1 through length($brand-colors){
    &_#{$i}{
      background:nth($brand-colors, $i);
      .palette_light{
        background:lighten(nth($brand-colors, $i), $color-threshold);
      }
      .palette_dark{
        background:darken(nth($brand-colors, $i), $color-threshold);
      }
    }
    &_#{$i}-info{
      white-space:nowrap;
      @include clearfix();
      user-select:none;
      .palette_info-light{
        border-bottom:4px solid lighten(nth($brand-colors, $i), $color-threshold);
        transition:color 0.2s;
        &:active{
          color:lighten(nth($brand-colors, $i), $color-threshold);
        }
        &:hover,
        &:focus{
          .copy{
            color:lighten(nth($brand-colors, $i), $color-threshold);
          }
        }
      }
      .palette_info-default{
        border-bottom:4px solid nth($brand-colors, $i);
        transition:color 0.2s;
        &:active{
          color:nth($brand-colors, $i);
        }
        &:hover,
        &:focus{
          .copy{
            color:nth($brand-colors, $i);
          }
        }
      }
      .palette_info-dark{
        border-bottom:4px solid darken(nth($brand-colors, $i), $color-threshold);
        transition:color 0.2s;
        &:active{
          color:darken(nth($brand-colors, $i), $color-threshold);
        }
        &:hover,
        &:focus{
          .copy{
            color:darken(nth($brand-colors, $i), $color-threshold);
          }
        }
      }
    }
  }
}