/* Adds an animated effect to link interactions */
@mixin link-interaction($interaction-color, $reversed: 'false', $duration: 0.2s) {
  display:inline;
  padding:0;
  margin:0;
  text-decoration:none;
  @if $reversed == "false" {
    border-bottom:1px solid transparent;
  } @else {
    border-bottom:1px solid $interaction-color;
  }
  transition:border $duration ease-in-out;
  &:hover,
  &:focus{
    @if $reversed == "false" {
      border-bottom:1px solid $interaction-color;
    } @else {
      border-bottom:1px solid transparent;
    }
  }
}

@mixin remove-link-interaction(){
  border-bottom:none;
  &:hover,
  &:focus{
    border-bottom:none;
  }
}

/* Styles element as a CSS triangle */
@mixin triangle($size, $color, $direction: "down") {
  content:'';
  display:block;
  width: 0; 
  height: 0;
  @if $direction == "up" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
  @if $direction == "down" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }
  @if $direction == "left" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @if $direction == "right" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
 }
