/* STRUCTURE HELPERS
---------------------------------------------------------------------------*/
.container{
  @include clearfix();
  width:100%;
  max-width:$site-width;
  padding:0 $gutter-width;
  margin:0 auto;
  .container{
    padding:0;
  }
}

*[class*="breakpoint-shown-"]{
  display:none;
  &--force{
    display:none!important;
  }
}

*[class*="breakpoint-hidden-"]{
  display:block;
  &--force{
    display:block!important;
  }
}

@for $z from 1 through 4{
  @media(min-width: nth($breakpoints, $z)){
    .breakpoint-hidden-#{nth($grid-prefix, $z)}{
      display:none;
      &--force{
        display:none!important;
      }
    }
  }
  @media(min-width: nth($breakpoints, $z)){
    .breakpoint-shown-#{nth($grid-prefix, $z)}{
      display:block;
      &--force{
        display:block!important;
      }
    }
  }
}