/* TABLE COMPONENTS
---------------------------------------------------------------------------*/
.table{
  &__wrapper{
    overflow-x:auto;
    margin-bottom:15px;
    max-width:100%;
    &:last-child{
      margin-bottom:0;
    }
  }
}

table{
  thead{
    tr{
      background:$color-brand-2-dk;
      th{
        text-align:left;
        font-weight:700;
        padding:10px;
        white-space:nowrap;
        color:$color-lt;
      }
    }
  }
  tbody{
    tr{
      td{
        padding:10px;
        border-bottom:1px solid $color-brand-2-lt;
      }
      &:nth-of-type(2n){
        background:$color-brand-2-lt;
      }
    }
  }
}