/* Brand Colours
------------------------------------------------------------------------------*/
$color-threshold: 20%;

$color-brand-1:       #ffb3ec;
$color-brand-1-lt:    #ffe6f9;
$color-brand-1-dk:    #b30077;

$color-brand-2:       #b3b3cc;
$color-brand-2-lt:    #e0e0eb;
$color-brand-2-dk:    #47476b;

$color-neutral:       #CCCCCC; // Grey
$color-neutral-lt:    #f2f2f2;
$color-neutral-dk:    #4d4d4d;

/* General Colours
------------------------------------------------------------------------------*/
$color-lt:            #ffffff; // white
$color-med:           #CCCCCC; // grey
$color-dk:            #000000; // black

/* Contextual Colours
------------------------------------------------------------------------------*/
$color-link: $color-brand-1-dk;
$color-link-hover: $color-brand-1;

$color-danger:        #e62600; // red
$color-danger-lt:     #fcf4f2;
$color-danger-dk:     #a51b00;

$color-success:       #77b259; // green
$color-success-lt:    #f3faef;
$color-success-dk:    #325e1c;

$color-caution:       #ffdb4d; // yellow
$color-caution-lt:    #fff2cc;
$color-caution-dk:    #806000;