/* BASELINE STYLES
----------------------------------------------------------------------*/
html,
body{
  font-size: $font-base-size + px; 
  font-family: $font-body-family;
  line-height:1.4em;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:$font-display-family;
  margin-bottom: 20px;
  margin-top:15px;
  &:first-child{
    margin-top:0;
  }
}

*{
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6{
    margin-top:45px;
  }
}

h1{
  @include set-type(32, 700);
}

h2{
  @include set-type(28, 600);
}

h3{
  @include set-type(24, 600);
}

h4{
  @include set-type(20, 600);
}

h5{
  @include set-type(18, 600);
}

h6{
  @include set-type(16, 600);
}

p{
  margin-bottom:15px;
}

a, 
img{
  border:none;
  outline:none;
}

strong{
  font-weight:bold;
}

ul{
  list-style:disc;
}

.nav{
  @include clearfix();
  &_utility{
    padding:15px 0;
  }
  &_main{
    background:$color-lt;
  }
  ul{
    list-style:none;
  }
}

.menu{
  &_utility{
   float:right;
    li{
      display:inline-block;
      margin-right:10px;
      &:last-of-type{
        margin-right:0;
      }
    }
  }
  &_main{
    display:table-row;
    li{
      display:table-cell;
      text-align:center;
      a{
        display:block;
        padding:15px 0;
      }
    }
  }
}

section{
  padding:30px 0;
  *:first-child{
    &:empty{
      + * {
        margin-top:0;
      }
    }
  }
}

code{
  background:$color-dk;
  color:$color-lt;
  padding:0 5px;
  &.code-block{
    display:block;
    padding:15px;
    border-radius:5px;
  }
}

details{
  display:block;
  border:1px solid $color-brand-2;
  summary{
    padding:10px;
  }
}
