/* CUSTOM THEME STYLES
----------------------------------------------------------------------*/
*{
  transition:all 0.2s;
}

.nav{
  &_utility{
    background:$color-dk;
  }
  &_main{
    background:$color-brand-1;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }
}

.menu{
  &_utility{
    li{
      a{
        color:$color-lt;
        text-decoration:none;
        text-transform:uppercase;
        line-height:1em;
        font-weight:600;
        letter-spacing:1px;
        border-bottom:2px solid $color-lt;
        &:hover,
        &:focus{
          color:$color-brand-1;
          border-bottom:2px solid transparent;
        }
      }
    }
  }
  &_main{
    li{
      a{
        color:$color-dk;
        text-decoration:none;
        font-weight:600;
        text-transform:uppercase;
        letter-spacing:1px;
        &:hover,
        &:focus{
          background:$color-dk;
          color:$color-lt;
        }
      }
      &:nth-of-type(1){
        a{
          &:hover,
          &:focus{
            span{
              color:$color-brand-1;
            }
          }
        }
      }
      &:nth-of-type(2){
        a{
          &:hover,
          &:focus{
            span{
              color:$color-brand-3;
            }
          }
        }
      }
      &:nth-of-type(3){
        a{
          &:hover,
          &:focus{
            span{
              color:$color-brand-5;
            }
          }
        }
      }
      &:nth-of-type(4){
        a{
          &:hover,
          &:focus{
            span{
              color:$color-brand-6;
            }
          }
        }
      }
      &:nth-of-type(5){
        a{
          &:hover,
          &:focus{
            span{
              color:$color-brand-4;
            }
          }
        }
      }
    }
  }
}

section{
  border-bottom:2px solid $color-brand-2-lt;
  hr{
    color:$color-brand-2-lt;
    background-color:$color-brand-2-lt;
  }
  &.about-section{
    hr{
      color:$color-brand-1;
      background-color:$color-brand-1;
    }
  }
  &.config-section{
    hr{
      color:$color-brand-3;
      background-color:$color-brand-3;
    }
  }
  &.grid-section{
    hr{
      color:$color-brand-5;
      background-color:$color-brand-5;
    }
  }
  &.components-section{
    hr{
      color:$color-brand-6;
      background-color:$color-brand-6;
    }
  }
  &.helper-section{
    hr{
      color:$color-brand-4;
      background-color:$color-brand-4;
    }
  }
}

hr{
  border:0;
  width:100%;
  height:2px;
}








