/* ALERT COMPONENT
---------------------------------------------------------------------------*/
.alert{
  padding:15px;
  margin-bottom:15px;
  position:relative;
  border-left:8px solid;
  font-weight:600;
  border-color:$color-neutral $color-neutral $color-neutral $color-brand-1;
  background:white;
  color:$color-brand-1;
  i{
    color:$color-brand-1;
  }
  &--success{
    border-color:$color-neutral $color-neutral $color-neutral $color-success;
    background:white;
    color:$color-success;
    i{
      color:$color-success;
    }
  }
  &--warning{
    border-color:$color-neutral $color-neutral $color-neutral $color-caution;
    background:white;
    color:$color-caution-dk;
    i{
      color:$color-caution;
    }
  }
  &--error{
    border-color:$color-neutral $color-neutral $color-neutral $color-danger;
    background:white;
    color:$color-danger;
    i{
      color:$color-danger;
    }
  }
  &--has-icon{
    padding-left:45px;
  }
  &__icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
  }
  &__close{
    position:absolute;
    top:15px;
    right:15px;
  }
}