/* CARD COMPONENTS
---------------------------------------------------------------------------*/
.card{
  background:$color-lt;
  border:1px solid $color-med;
  padding:$gutter-width;
  height: 100%; // for fitting in flex boxes
}