code{
	display:block;
	padding: 1rem;
	word-wrap: normal;
	overflow:auto;
	background:#363738;
	color:#ef006b;
	font-family: monospace, monospace;
}

.code{
	&__prop{
		color:#6aff07;
	}
	&__value{
		color:#fff72b;
	}
	&__text{
		color:white;
	}
}