/* DROPDOWN COMPONENT
---------------------------------------------------------------------------*/
.dropdown{
  position:relative;
  &__toggle,
  &__toggle--hover{
    text-align:left;
    margin-bottom:0;
    &.open{
      .dropdown__icon{
        &--open{
          display:block;
        }
        &--closed{
          display:none;
        }
      }
    }
  }
  &__content{
    position:relative;
    z-index:2;
    display:none;
    &--overlay{
      position:absolute;
      width:100%;
      z-index:10;
    }
  }
  &__icon{
    transition:transform 0.2s ease-in-out;
    &--open{
      display:none;
    }
  }
}
