/* FORM COMPONENTS
---------------------------------------------------------------------------*/

form{
  margin-bottom:30px;
  &:last-child{
    margin-bottom:0;
  }
}

.form{
  &__group{
    margin-bottom:30px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__label{
    display:block;
    margin-bottom:5px;
    font-weight:600;
  }
  &__input{
    width:100%;
    max-width:100%;
    appearance:none;
    border:none;
    border-radius:0;
    background:$color-lt;
    color:$color-brand-2;
    font-family:$font-body-family;
    padding:10px 15px;
    margin:0;
    text-align:left;
    border:1px solid $color-med;
    box-shadow:0 0 5px $color-med;
    @include set-type(16, 400, 24);
  }
  &__helper{
    font-size:0.9em;
  }
  &__select-wrapper{
    position:relative;
    display:block;
    width:100%;
    .form__input{
      padding-right:30px;
      + i{
        pointer-events:none;
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
        color:$color-dk;
      }
    }
  }
  &__radio,
  &__checkbox{
    display:block;
    padding-left:30px;
    position:relative;
    margin-bottom:10px;
    input{
      margin:0;
      position:absolute;
      left:0;
      top:0;
    }
  }
  &__checkbox{
    input[type="checkbox"]{
      @include set-webaim-hidden();
      &:checked{
        + .form__checkbox-label{
          .form__checkbox-icon{
            transform:scale(1);
          }
        }
      }
      &:focus{
        + .form__checkbox-label{
          &:before{
            box-shadow:0 0 3px 1px $color-brand-2;
          }
        }
      }
    }
  }
  &__checkbox-label{
    &:before{
      content:'';
      height: $gutter-width;
      width: $gutter-width;
      background: $color-lt;
      border:1px solid $color-neutral;
      position:absolute;
      left:0;
      top:0;
      transition:background 0.2s ease-in-out;
      cursor:pointer;
    }
  }
  &__checkbox-icon{
    position:absolute;
    left:4px;
    top: 2px;
    transform:scale(0);
    cursor:pointer;
    transition:transform 0.2s ease-in-out;
    @include set-type(13, 400, 13);
    color:$color-brand-2;
  }
  &--inline{
    .form{
      &__group,
      &__label,
      &__input{
        display:inline-block;
      }
      &__group{
        margin-right:30px;
        &:last-of-type{
          margin-right:0;
        }
      }
      &__label{
        margin-right:10px;
      }
    }
  }
  &__switch{
    margin-bottom:10px;
    &:last-of-type{
      margin-bottom:0;
    }
    .form{
      &__switch-toggle{
        display:inline-block;
        cursor:pointer;
        padding:8px 15px;
        border-radius:50px;
        border:1px solid $color-med;
        font-weight:600;
        padding-left:35px;
        position:relative;
        transition:all 0.2s ease-in-out;
        &:after{
          content:'';
          height:24px;
          width:24px;
          border-radius:100%;
          border:1px solid $color-med;
          background:$color-lt;
          position:absolute;
          margin:0 3px;
          top:50%;
          left:0;
          transform:translateY(-50%);
          transition:all 0.2s ease-in-out;
        }
        &--inline{
          margin-left:15px;
        }
      }
      &__switch-active-text,
      &__switch-inactive-text{
        overflow:hidden;
        display:block;
        margin:0;
        transition:all 0.2s ease-in-out;
      }
      &__switch-active-text{
        display:none;
      }
    }
    input[type="checkbox"]{
      &:focus{
        + label{
          .form__switch-toggle{
            box-shadow:0px 0px 10px $color-med;
          }
        }
      }
      &:checked{
        + label{
          .form__switch-toggle{
            padding-left:15px;
            padding-right:35px;
            background:$color-brand-2;
            &:after{
              left:100%;
              transform:translate(-33px, -50%);
            }
          }
          .form__switch-active-text{
            display:block;
            color:$color-lt;
          }
          .form__switch-inactive-text{
            display:none;
          }
        }
      }
    }
    &--inline{
      display:inline-block;
      margin-right:30px;
    }
  }
}

fieldset{
  margin-bottom:30px;
  legend{
    display:block;
    margin-bottom:15px;
    font-weight:600;
    &.form__label{
      margin-bottom:15px;
    }
  }
}

textarea{
  min-height:84px;
}


