/* FORM COMPONENTS
---------------------------------------------------------------------------*/

form{
  margin-bottom:30px;
  &:last-child{
    margin-bottom:0;
  }
}

.form{
  &__group{
    margin-bottom:30px;
    &:last-child{
      margin-bottom:0;
    }
    &--has-icon{
      position:relative;
      .form__input{
        padding-left:45px;
      }
      i{
        position:absolute;
        left:15px;
        top:50%;
        transform:translateY(-50%);
      }
    }
    &--inline-button{
      position:relative;
      .form__input{
        padding-right:115px;
      }
      .button{
        margin:0;
        position:absolute;
        right:0;
        top:0;
        height:100%;
      }
    }
    &--inline-label{
      display:flex;
      align-items:center;
      .form__label{
        display:inline-block;
        white-space:nowrap;
        margin:0;
        margin-right:15px;
      }
      .form__input{
        display:inline-block;
        width:100%;
      }
    }
  }
  &__label{
    display:block;
    margin-bottom:5px;
    font-weight:600;
  }
  &__input{
    width:100%;
    max-width:100%;
    appearance:none;
    border:none;
    border-radius:0;
    background:white;
    color:$color-brand-2;
    font-family:$font-body-family;
    padding:10px 15px;
    margin:0;
    text-align:left;
    border:1px solid $color-neutral;
    box-shadow:0 0 5px $color-neutral;
    @include set-type(16, 400);
  }
  &__helper{
    font-size:0.9em;
  }
  &__select-wrapper{
    position:relative;
    display:block;
    width:100%;
    .form__input{
      padding-right:30px;
      + i{
        pointer-events:none;
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
        color:black;
      }
    }
  }
  &__radio,
  &__checkbox{
    display:block;
    padding-left:30px;
    position:relative;
    margin-bottom:10px;
    input{
      @include set-webaim-hidden();
      &:checked{
        + .form__checkbox-label,
        + .form__radio-label{
          .form__checkbox-icon,
          .form__radio-icon{
            display:block;
          }
        }
      }
      &:focus{
        + .form__checkbox-label,
        + .form__radio-label{
          &:before{
            box-shadow:0 0 5px $color-neutral;
          }
        }
      }
    }
    &-label{
      &:before{
        content:'';
        height: 15px;
        width: 15px;
        background: white;
        border:1px solid $color-neutral;
        position:absolute;
        left:0;
        top:0;
        transition:background 0.2s ease-in-out;
        cursor:pointer;
      }
    }
    &-icon{
      position:absolute;
      left:4px;
      top: 2px;
      cursor:pointer;
      @include set-type(13, 400);
      color:$color-brand-2;
      display:none;
    }
  }
  &__radio{
    &-label{
      &:before{
        border-radius:100%;
      }
    }
    &-icon{
      height:9px;
      width:9px;
      border-radius:100%;
      background:$color-brand-2;
      display:none;
      position:absolute;
      left:4px;
      top:4px;
    }
  }
  &--inline{
    .form{
      &__group,
      &__label,
      &__input{
        display:inline-block;
      }
      &__group{
        margin-right:30px;
        &:last-of-type{
          margin-right:0;
        }
      }
      &__label{
        margin-right:10px;
      }
    }
  }
  &__switch{
    margin-bottom:10px;
    &:last-of-type{
      margin-bottom:0;
    }
    .form{
      &__switch-toggle{
        display:inline-block;
        cursor:pointer;
        padding:8px 15px;
        border-radius:50px;
        border:1px solid $color-neutral;
        font-weight:600;
        padding-left:35px;
        position:relative;
        transition:all 0.2s ease-in-out;
        &:after{
          content:'';
          height:24px;
          width:24px;
          border-radius:100%;
          border:1px solid $color-neutral;
          background:white;
          position:absolute;
          margin:0 3px;
          top:50%;
          left:0;
          transform:translateY(-50%);
          transition:all 0.2s ease-in-out;
        }
        &--inline{
          margin-left:15px;
        }
      }
      &__switch-active-text,
      &__switch-inactive-text{
        overflow:hidden;
        display:block;
        margin:0;
        transition:all 0.2s ease-in-out;
      }
      &__switch-active-text{
        display:none;
      }
    }
    input[type="checkbox"]{
      &:focus{
        + label{
          .form__switch-toggle{
            box-shadow:0px 0px 10px $color-neutral;
          }
        }
      }
      &:checked{
        + label{
          .form__switch-toggle{
            padding-left:15px;
            padding-right:35px;
            background:$color-brand-2;
            &:after{
              left:100%;
              transform:translate(-33px, -50%);
            }
          }
          .form__switch-active-text{
            display:block;
            color:white;
          }
          .form__switch-inactive-text{
            display:none;
          }
        }
      }
    }
    &--inline{
      display:inline-block;
      margin-right:30px;
    }
  }
}

fieldset{
  margin-bottom:30px;
  legend{
    display:block;
    margin-bottom:15px;
    font-weight:600;
    &.form__label{
      margin-bottom:15px;
    }
  }
}

textarea{
  min-height:84px;
}


