/* FORM COMPONENTS
---------------------------------------------------------------------------*/

form{
  margin-bottom:30px;
  &:last-child{
    margin-bottom:0;
  }
}

.form{
  &__group{
    margin-bottom:30px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__label{
    display:block;
    margin-bottom:5px;
    font-weight:600;
  }
  &__input{
    width:100%;
    max-width:100%;
    appearance:none;
    border:none;
    border-radius:0;
    background:$color-lt;
    color:$color-brand-2;
    font-family:$font-body-family;
    padding:10px 15px;
    margin:0;
    text-align:left;
    border:1px solid $color-med;
    box-shadow:0 0 5px $color-med;
    @include set-type(16, 400, 24);
  }
  &__helper{
    font-size:0.9em;
  }
  &__select-wrapper{
    position:relative;
    display:block;
    width:100%;
    .form__input{
      padding-right:30px;
      + i{
        pointer-events:none;
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
        color:$color-dk;
      }
    }
  }
  &__radio,
  &__checkbox{
    display:block;
    padding-left:30px;
    position:relative;
    margin-bottom:10px;
    input{
      margin:0;
      position:absolute;
      left:0;
      top:0;
    }
  }

  &__checkbox{
    input[type="checkbox"]{
      @include set-webaim-hidden();
      &:checked{
        + .form__checkbox-label{
          .form__checkbox-check{
            transform:scale(1);
          }
        }
      }
      &:focus{
        + .form__checkbox-label{
          &:before{
            box-shadow:0 0 3px 1px $color-brand-2;
          }
        }
      }
    }
  }
  &__checkbox-label{
    &:before{
      content:'';
      height: $gutter-width;
      width: $gutter-width;
      background: $color-lt;
      border:1px solid $color-neutral;
      position:absolute;
      left:0;
      top:0;
      transition:background 0.2s ease-in-out;
      cursor:pointer;
    }
  }
  &__checkbox-check{
    position:absolute;
    left:4px;
    top: 0;
    transform:scale(0);
    cursor:pointer;
    transition:transform 0.2s ease-in-out;
    &:after{
      content: "\2713";
      @include set-type(13, 400, 13);
      color:$color-brand-2;
    }
  }
  &--inline{
    .form{
      &__group,
      &__label,
      &__input{
        display:inline-block;
      }
      &__group{
        margin-right:30px;
        &:last-of-type{
          margin-right:0;
        }
      }
      &__label{
        margin-right:10px;
      }
    }
  }
  &__switch{
    /* The switch - the box around the slider */
    position: relative;
    display: inline-block;
    width: 80px;
    &.medium{
      width: 120px;
    }
    &.large{
      width: 160px;
    }
    height: 34px;
    vertical-align: bottom;

    /* Hide default HTML checkbox */
    input {
      @include set-webaim-hidden();
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-lt;
      transition: .4s;
      border-radius: 34px;
      border: 1px solid $color-med;
      box-shadow: inset 0 0 0 1px $color-lt;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: $color-brand-2;
      border: 1px solid $color-med;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: $color-brand-1;
    }

    input:focus + .slider {
      box-shadow: inset 0 0 0 1px $color-lt, 0 0 3px 1px $color-brand-1;
    }

    input + .slider::after{
      content: "Off";
      text-align: right;
      display: block;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
    }
    input + .slider[data-off]::after{
      content: attr(data-off);
    }

    input:checked + .slider::after{
      content: "On";
      text-align: left;
      color: $color-lt;
    }
    input:checked + .slider[data-on]::after{
      content: attr(data-on);
    }

    input:checked + .slider:before {
      transform: translateX(46px);
    }
    &.medium{
      input:checked + .slider:before {
        transform: translateX(86px);
      }
    }
    &.large{
      input:checked + .slider:before {
        transform: translateX(126px);
      }
    }
  }
}

fieldset{
  margin-bottom:30px;
  legend{
    display:block;
    margin-bottom:15px;
    font-weight:600;
    &.form__label{
      margin-bottom:15px;
    }
  }
}

textarea{
  min-height:84px;
}


