/* POPUP COMPONENTS
---------------------------------------------------------------------------*/
body{
  &.popup--open{
    overflow:hidden;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.popup{
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:$color-lt;
  border:1px solid $color-med;
  z-index:1500;
  height:auto;
  width:750px;
  max-width:calc(100% - #{$gutter-width} * 2);
  max-height:calc(100% - #{$gutter-width} * 2);
  overflow:auto;
  padding-top:$gutter-double;
  &__close{
    position:absolute;
    top:5px;
    right:5px;
    background:transparent;
    border:none;
    cursor:pointer;
    + *{
      margin-top:0;
    }
  }
  &__overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba($color-dk,0.8);
    z-index:1250;
  }
  .scrolling-content{
    max-height:calc(100vh - #{$gutter-double} * 3 - 2px);
    padding: $gutter-double;
    padding-top:0;
    overflow: auto;
  }
}