/* TABLE COMPONENTS
---------------------------------------------------------------------------*/
.table{
  &__wrapper{
    overflow-x:auto;
    margin-bottom:15px;
    max-width:100%;
    &:last-child{
      margin-bottom:0;
    }
  }
}

table{
  thead{
    tr{
      background:$color-brand-2;
      th,
      td{
        text-align:left;
        font-weight:700;
        padding:15px;
        white-space:nowrap;
        color:white;
      }
    }
  }
  tbody{
    tr{
      td{
        padding:15px;
        border-bottom:1px solid $color-neutral;
      }
    }
  }
}