/* TAB COMPONENTS
---------------------------------------------------------------------------*/
.tabs{
  border:none;
  &__list{
    list-style:none;
    padding:0;
    margin:0;
    display:table;
    background:white;
    @include clearfix();
    border-bottom:1px solid $color-neutral;
  }
  &__tab-control{
    margin:0;
    float:left;
    text-align:center;   
    display:block;
    padding:10px 15px;
    transform:translate(0, 0);
    border-bottom:3px solid transparent;
    margin-bottom:-2px;
    &--active{
      border-bottom:3px solid black;
    }
  }
  &__content{
    padding:30px;
    background:white;
    display:none;
    &.active{
      display:block;
    }
  }
}