html,
body{
  font-size: $font-base-size; 
  font-family: $font-body-family;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:$font-display-family;
}

a, 
img{
  border:none;
  outline:none;
}
