html,
body{
  font-size: $font-base-size + px; 
  font-family: $font-body-family;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:$font-display-family;
  margin-bottom: 20px;
  margin-top:15px;
}

*{
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6{
    margin-top:45px;
  }
}

h1{
  @include set-type(32, 700);
}

h2{
  @include set-type(28, 600);
}

h3{
  @include set-type(24, 600);
}

h4{
  @include set-type(20, 600);
}

h5{
  @include set-type(18, 600);
}

h6{
  @include set-type(16, 600);
}

p{
  margin-bottom:15px;
}

a, 
img{
  border:none;
  outline:none;
}

.nav{
  @include clearfix();
  &_main{
    display:table;
    width:100%;
  }
}

.menu{
  li{
    display:inline-block;
  }
  &_main{
    display:table-row;
    li{
      display:table-cell;
      text-align:center;
    }
  }
  &_utility{
    float:right;
  }
}
