html,
body{
  font-family:sans-serif;
  margin:0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------------------------

STRUCTURE

------------------------------------------------- */
.page-header{
  margin-bottom:15px;
  &.wire{
    padding:15px 0;
  }
}

.page-footer{
  margin-top:15px;
  &.wire{
    margin-bottom:0;
  }
}

nav{
  ul{
    margin:0;
    padding:0;
    list-style:none;
    @include clearfix();
    li{
      display:inline-block;
      float:left;
      a{
        display:block;
        padding:5px 10px;
        color:#000;
        text-decoration:none;
        font-weight:bold;
        &:hover,
        &:focus,
        &:active{
          color:#ccc;
        }
      }
      &:first-of-type{
        a{
          padding-left:0;
        }
      }
    }
  }
}


/* ----------------------------------------------

HELPERS

------------------------------------------------- */
.centered-content{
  width:100%;
  max-width:1260px;
  padding:0 30px;
  margin:0 auto;
}

/* for wireframing */
.wire{
  border:1px solid;
  background:whitesmoke;
  padding:15px;
  margin-bottom:15px;
}

/* Accessible font-awesome icons */
[data-icon]{
  @include font-awesome-icon(attr(data-icon), right);
  display:inline-block;
}

/* ----------------------------------------------

GRID

------------------------------------------------- */
.row{
  @include clearfix();
}

/* LOOPS TO DEFINE GRID CLASSES

  - Col: ex: col-1 OR col-1-24

  - Push: ex: push-1 OR push-1-24
  - Pull: ex: pull-1 OR pull-1-24
data
*/

@for $i from 1 through 12{
  .col-#{$i} {
    @include span-columns($i);
  }
  .pull-#{$i} {
    @include shift(-$i);
  }
  .push-#{$i} {
    @include shift($i);
  }
}

@for $i from 13 through 24{
  @for $y from 1 through 24{
    @if $y <= $i{
      .col-#{$y}-#{$i} {
        @include span-columns($y of $i);
      }
      .pull-#{$y}-#{$i} {
        @include shift(-$y of $i);
      }
      .push-#{$y}-#{$i} {
        @include shift($y of $i);
      }
    }
  }
}







