html,
body{
  font-size: $font-base-size; 
  font-family:$font-body-family;
  margin:0;
}

*{
  box-sizing: border-box;
  &:last-child{
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top:0;
  font-family:$font-display-family;
}

ul,
ol{
  margin-top:0;
  padding-left:25px;
}

p{
  margin-top:0;
}

table{
  width:100%;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:1em;
  thead{
    tr{
      border-bottom:2px solid;
      th{
        text-align:left;
        padding:5px;
        border-right:1px solid;
        &:last-of-type{
          border-right:none;
        }
      }
    }
  }
  tbody{
    tr{
      &:last-of-type{
        td{
          border-bottom:none;
        }
      }
      td{
        padding:5px;
        border:1px solid;
        border-left:none;
        &:last-of-type{
          border-right:none;
        }
      }
    }
  }
}

nav{
  @include clearfix();
  ul{
    margin:0;
    padding:0;
    list-style:none;
    @include clearfix();
    li{
      display:inline-block;
      float:left;
      a{
        display:block;
        padding:5px 10px;
        color:#000;
        text-decoration:none;
        font-weight:bold;
        &:hover,
        &:focus,
        &:active{
          color:#ccc;
        }
      }
      &:first-of-type{
        a{
          padding-left:0;
        }
      }
    }
  }
}


/* ----------------------------------------------

HELPERS

------------------------------------------------- */
.centered-content{
  width:100%;
  max-width:1260px;
  padding-left:30px;
  padding-right:30px;
  margin:0 auto;
}

.full-width{
  width:100%;
}

.centered{
  left:50%;
  transform:translateX(-50%);
}

.text-centered{
  text-align:center;
}

.img-centered{
  display:block;
  margin:0 auto;
}

.drawer{
  display:none;
}

.caps{
  text-transform:uppercase;
}

.hidden{
  @include set-webaim-hidden();
}

.table-wrapper{
  width:100%;
  overflow-x:auto;
  margin-bottom:15px;
  border:2px solid;
  &:last-child{
    margin-bottom:0;
  }
  table{
    width:100%;
  }
}

.webaim-hidden{
  @include set-webaim-hidden();
}

/* for wireframing */
.wire{
  border:1px solid;
  background:whitesmoke;
  padding:15px;
  margin-bottom:15px;
}

.page-header{
  margin-bottom:15px;
}

.page-footer{
  margin-top:15px;
  &.wire{
    margin-bottom:0;
  }
}

/* ACCESSIBILITY STYLES
---------------------------------------------------------------------------*/
.webaimHidden {
  @include set-webaim-hidden();
}

.skip-link {
  @include set-webaim-hidden();
}
.skip-link:focus {
  display: block;
  visibility: visible;
  color: $color-text-dk;
  width: auto;
  height: auto;
  padding: 0 1em;
  left: 0.5em;
  top: 0.5em;   
  background: $color-bg-lt;
  box-shadow: 0px 0px 10px $color-bg-dk;
}

/* Accessible font-awesome icons */
[data-icon]{
  @include font-awesome-icon(attr(data-icon), right);
  display:inline-block;
}






