/* HELPERS
---------------------------------------------------------------------------*/
.centered-content{
  width:100%;
  max-width:1260px;
  padding-left:30px;
  padding-right:30px;
  margin:0 auto;
}

.full-width{
  width:100%;
}

.pull-right{
  float:right;
}

.text-centered{
  text-align:center;
}

.img-centered{
  display:block;
  margin:0 auto;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

.table-wrapper{
  overflow-x:auto;
  &:last-child{
    margin-bottom:0;
  }
  table{
    width:100%;
  }
}

.webaim-hidden,
.skip-link{
  @include set-webaim-hidden();
}

.hidden{
  display:none;
}

/* ACCESSIBILITY HELPERS
---------------------------------------------------------------------------*/
.skip-link:focus {
  display: block;
  visibility: visible;
  color: $color-dk;
  width: auto;
  height: auto;
  padding: 0 1em;
  left: 0.5em;
  top: 0.5em;   
  background: $color-lt;
  box-shadow: 0px 0px 10px $color-dk;
}








