@media (min-width: 768px){

  /* Boilerplate.scss
  ---------------------------------- */

  /* Force menu to appear on desktop view */
  nav .drawer{
    display:block!important;
  }

  .drawer{
    display:block;
  }

  /* Base.scss
  ---------------------------------- */
  body{
    padding-top:0px;
  }

  header{
    position:static;
  }
  
  /* Components.scss
  ---------------------------------- */
  .mobile-toggle{
    display:none;
    + ul{
      position:static;
      li{
        width:auto;
        background:transparent;
        border:none;
      }
    }
  }

}
