@media (max-width: 768px){

  /* Boilerplate.scss
  ---------------------------------- */
  .drawer{
    display:none;
  }

  /* Base.scss
  ---------------------------------- */
  body{
    padding-top:80px;
  }
  header{
    position:fixed;
    top:0;
    width:100%;
  }
  
  /* Components.scss
  ---------------------------------- */
  .mobile-toggle{
    display:block;
    float:right;
    + ul{
      display:none;
      position:absolute;
      left:0;
      top:60px;
      width:100%;
      li{
        display:block;
        width:100%;
        background:#fff;
        border:1px solid;
        border-top:none;
      }
    }
  }

}

/* Force menu to appear on desktop view */
@media (min-width: 769px){
  nav .drawer{
    display:block!important;
  }
}