/* ----------------------------------------------

GRID

------------------------------------------------- */
.row{
  @include clearfix();
  margin-bottom:0;
}
//Default - Mobile first grid
*[class*="col_"]{
  @include span-columns(12);
  margin-bottom:15px;
}

*[class*="pull_"],
*[class*="push_"]{
  @include shift(0);
}

/* LOOPS TO DEFINE GRID CLASSES
  - Col: ex: col-1 OR col-1-24
  - Push: ex: push-1 OR push-1-24
  - Pull: ex: pull-1 OR pull-1-24
*/

//Default grid structure for all views
@for $i from 1 through 12{
  .col_#{$i}{
    @include span-columns($i);
  }
  .pull_#{$i} {
    @include shift(-$i);
  }
  .push_#{$i} {
    @include shift($i);
  }
}

@for $x from 1 through 24{
  @for $y from 1 through 24{
    @if $y <= $x{
      .col_#{$y}-#{$x} {
        @include span-columns($y of $x);
      }
      .pull_#{$y}-#{$x} {
        @include shift(-$y of $x);
      }
      .push_#{$y}-#{$x} {
        @include shift($y of $x);
      }
    }
  }
}

//Grid structure classes for window sizes 480px and up
$breakpoints: $mobile $tablet $desktop $desktop-wide;
$grid-prefix: sm md lg xl;

@for $z from 1 through 4{
  @media(min-width: nth($breakpoints, $z)){
    @for $i from 1 through 12{
      .col_#{nth($grid-prefix, $z)}-#{$i}{
        @include span-columns($i);
      }
      .pull_#{nth($grid-prefix, $z)}-#{$i} {
        @include shift(-$i);
      }
      .push_#{nth($grid-prefix, $z)}-#{$i} {
        @include shift($i);
      }
    }
    @for $x from 1 through 24{
      @for $y from 1 through 24{
        @if $y <= $x{
          .col_#{nth($grid-prefix, $z)}-#{$y}-#{$x} {
            @include span-columns($y of $x);
          }
          .pull_#{nth($grid-prefix, $z)}-#{$y}-#{$x} {
            @include shift(-$y of $x);
          }
          .push_#{nth($grid-prefix, $z)}-#{$y}-#{$x} {
            @include shift($y of $x);
          }
        }
      }
    }
  }
}


