/* SASS MIXINS
---------------------------------------------------------------------------*/

/* Hide elements while remaining accessible */
@mixin set-webaim-hidden() {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* Reset styles applied with the set-webaim-hidden mixin */
@mixin set-webaim-hidden-false() {
	position:relative;
	left:auto;
	top:auto;
	width:auto;
	height:auto;
	overflow:visible;
}

/* 
  - IconVal = unicode value from fontawesome.github.io
  - Color = color of the icon
  - FontSize = size of the icon
  use with a designated html element and pair with an aria-label or aria-hidden ex: <span data-icon="&#xf268;" aria-label="google chrome"></span>
*/
@mixin font-awesome-icon($iconVal, $color: "", $fontSize: ""){
  &:before{
    content:$iconVal;
    display:inline-block;
    font-family:$font-icon-family;
    @if $color != ""{
      color:$color;
    }
    @if $fontSize != ""{
      font-size:$fontSize;
    }
  }
}

