/* VARIABLES
------------------------------------------------------------------------------*/

/* Brand Colours
------------------------------------------------------------------------------*/
$color-brand-1:       #FF0000;	// red
$color-brand-1-lt:    #FF6666;
$color-brand-1-dk:    #660000;

$color-brand-2:       #00FF00;	// green
$color-brand-2-lt:    #99FF99;
$color-brand-2-dk:    #006600;

$color-brand-3:       #0000FF;	// blue
$color-brand-3-lt:    #9999FF;
$color-brand-3-dk:    #000066;

$color-brand-4:       #FFFF00;	// yellow
$color-brand-4-lt:    #FFFF99;
$color-brand-4-dk:    #666600;

$color-grey:          #CCCCCC;
$color-grey-lt:       #CCCCCC;
$color-grey-dk:       #CCCCCC;


/* Conntextual Colours
------------------------------------------------------------------------------*/
$color-lt:            #ffffff; // white
$color-med:           #CCCCCC; // grey
$color-dk:            #000000; // black

$color-danger:        #ff3333; // red
$color-success:       #85e085; // green
$color-caution:       #ffff99; // yellow


/* Typography
------------------------------------------------------------------------------*/
$font-base-size: 14px;

$font-body-family:    'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-display-family: 'Open Sans', 'Helvetica Nueue', 'Arial', sans-serif;
$font-icon-family:    'FontAwesome';


/* Layout vars
------------------------------------------------------------------------------*/
$mobile:       new-breakpoint(min-width 480px 12);
$tablet:       new-breakpoint(min-width 768px 12);
$desktop:      new-breakpoint(min-width 991px 12);
$desktop-wide: new-breakpoint(min-width 1199px 12);
