/* Libraries 
------------------------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* custom superstructure
------------------------------------------------------------------------------*/
/* VARIABLES
------------------------------------------------------------------------------*/
/* Brand Colours
------------------------------------------------------------------------------*/
/* Conntextual Colours
------------------------------------------------------------------------------*/
/* Typography
------------------------------------------------------------------------------*/
/* Layout vars
------------------------------------------------------------------------------*/
/* SASS MIXINS
---------------------------------------------------------------------------*/
/* sets font-size, font-weight, and line-height. Note: use real weights (300, 400, 700, 900)  */
/* 
  Author: Kevin Andrews
  IconVal = unicode value from fontawesome.github.io
  Orient = left or right orientation - if left empty it will default to left orientation with no margin
  Color = color of the icon
  fontSize = size of the icon
*/
html,
body {
  font-family: sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------

STRUCTURE

------------------------------------------------- */
.page-header.wire {
  padding: 15px 0; }

.page-footer.wire {
  margin-bottom: 0; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul:before,
  nav ul:after {
    content: "";
    display: table; }
  nav ul:after {
    clear: both; }
  nav ul li {
    display: inline-block;
    float: left; }
    nav ul li a {
      display: block;
      padding: 5px 10px;
      color: #000;
      text-decoration: none;
      font-weight: bold; }
      nav ul li a:hover,
      nav ul li a:focus,
      nav ul li a:active {
        color: #ccc; }
    nav ul li:first-of-type a {
      padding-left: 0; }

/* ----------------------------------------------

HELPERS

------------------------------------------------- */
.centered-content {
  width: 100%;
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto; }

.button,
button,
input[type="button"],
input[type="submit"] {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid;
  color: #000; }
  .button:hover,
  .button:focus,
  .button:active,
  button:hover,
  button:focus,
  button:active,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    background: #000;
    color: #fff; }

.wire {
  border: 1px solid;
  background: whitesmoke;
  padding: 15px;
  margin-bottom: 15px; }

[data-icon] {
  display: inline-block; }
  [data-icon]:before {
    content: attr(data-icon);
    font-family: "FontAwesome"; }

/* ----------------------------------------------

GRID

------------------------------------------------- */
.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%; }

@media (min-width: 480px) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; } }

/* ACCESSIBILITY STYLES
---------------------------------------------------------------------------*/
.webaimHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.skip-link:focus {
  display: block;
  visibility: visible;
  /* 	@include set-type(18, 800, 40); */
  color: #000000;
  width: auto;
  height: auto;
  padding: 0 1em;
  left: 0.5em;
  top: 0.5em;
  background: #ffffff;
  box-shadow: 0px 0px 10px #000000; }
