<div class="alert alert_{{ type }}">
  {% if icon %}
    <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
  {% endif %}
  {{ content }}
  {% include "button.twig" with {'class' : 'btn_close alert_close', 'icon' : 'times', 'text' : '<span class="webaim-hidden">Dismiss alert</span>'} %}
</div>