/* NAVIGATION COMPONENTS
---------------------------------------------------------------------------*/
.nav{
  &__menu{
    padding:0;
    margin:0;
    list-style:none;
  }
  &--breadcrumbs{
    margin-bottom:15px;
    ul{
      @include clearfix();
      li{
        display:inline-block;
        float:left;
        &:after{
          content:"/";
          display:inline-block;
          margin:0 5px;
        }
        &:last-of-type{
          &:after{
            display:none;
          }
        }
      }
    }
  }
  &--pager{
    .nav__menu{
      li{
        display:inline-block;
        padding:0 5px;
        a{
          @include remove-link-interaction();
          text-decoration:none;
          padding:5px;  
        }
        &.prev{
          padding-left:0;
          a{
            padding-left:0;
          }
        }
        &.next{
          padding-right:0;
          a{
            padding-right:0;
          }
        }
        &.prev,
        &.next{
          a{
            text-decoration:none;
            background:transparent;
            border:none;
            box-shadow:none;
            font-weight:600;
          }
        }
      }
    }
  }
}