{% extends "layouts/default.twig" %}
{% set pageTitle = "Home" %}

{% block content %}

<div class="container">
	<div class="grid">
		<aside class="grid__col--md-3 sidebar">
			{% include "/partials/jumplinks.twig" %}
		</aside>
		<div class="grid__col--md-9">
			{% include "/components/container.twig" %}
			<hr>
			{% include "/components/grid.twig" %}
			<hr>
			{% include "/components/parallax.twig" %}
			<hr>
			{% include "/components/typography.twig" %}
			<hr>
			{% include "/components/menus.twig" %}
			<hr>
			{% include "/components/buttons.twig" %}
			<hr>
			{% include "/components/dropdowns.twig" %}
			<hr>
			{% include "/components/forms.twig" %}
			<hr>
			{% include "/components/tables.twig" %}
			<hr>
			{% include "/components/popups.twig" %}
			<hr>
			{% include "/components/alerts.twig" %}
			<hr>
			{% include "/components/tooltips.twig" %}
			<hr>
			{% include "/components/mixins.twig" %}
      <hr>
      {% include "/components/tabs.twig" %}
			<hr>
			{% include "/components/slideouts.twig" %}
		</div>
	</div>
</div>

{% endblock %}
