{% extends "layouts/default.twig" %}
{% set pageTitle = "Home" %}

{% block content %}

<div class="container">
	<div class="grid">
		<aside class="grid__col--md-3 sidebar">
			<section id="sidebar">
				<div class="card card--no-padding">
					<h2>Table of Contents</h2>
					<nav class="nav nav--jumplinks">
						<ul class="nav__menu">
							<!-- Jumplinks will be generated here -->
						</ul>
					</nav>
				</div>
			</section>
		</aside>
		<div class="grid__col--md-9">
			<section id="sassquatch-grid">
				<h2 class="jumplink__target">Grid</h2>
				<div class="grid">
					<div class="grid__col--md-1">
						<div class="card">1</div>
					</div>
					<div class="grid__col--md-11">
						<div class="card">11</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-2">
						<div class="card">2</div>
					</div>
					<div class="grid__col--md-10">
						<div class="card">10</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-3">
						<div class="card">3</div>
					</div>
					<div class="grid__col--md-9">
						<div class="card">9</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-4">
						<div class="card">4</div>
					</div>
					<div class="grid__col--md-8">
						<div class="card">8</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-5">
						<div class="card">5</div>
					</div>
					<div class="grid__col--md-7">
						<div class="card">7</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-6">
						<div class="card">6</div>
					</div>
					<div class="grid__col--md-6">
						<div class="card">6</div>
					</div>
				</div>
				<div class="grid">
					<div class="grid__col--md-12">
						<div class="card">12</div>
					</div>
				</div>
				<div class="grid grid--flex-md">
					<div class="grid__col">
						<div class="card">Flex</div>
					</div>
					<div class="grid__col">
						<div class="card">Flex</div>
					</div>
					<div class="grid__col">
						<div class="card">Flex</div>
					</div>
					<div class="grid__col">
						<div class="card">Flex</div>
					</div>
					<div class="grid__col">
						<div class="card">Flex</div>
					</div>
				</div>
			</section>
			<hr>
			<section id="sassquatch-typography">
				<h2 class="jumplink__target">Typography</h2>
				<h3 class="h1">Heading level 1</h3>
				<h3 class="h2">Heading level 2</h3>
				<h3>Heading level 3</h3>
				<h4>Heading level 4</h4>
				<h5>Heading level 5</h5>
				<p>Lorem ipsum dolor sit amet, <strong>bold text</strong><sup>superscript</sup><sub>subscript</sub> <em>italic text</em>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<ul>
					<li>List item</li>
					<li>List item</li>
					<li>
						List item
						<ol>
							<li>Ordered list item</li>
							<li>Ordered list item</li>
							<li>Ordered list item</li>
						</ol>
					</li>
					<li>List item</li>
				</ul>
			</section>
			<hr>
			<section id="sassquatch-menu">
				<h2 class="jumplink__target">Menus</h2>
				<h3>Basic Navigation</h3>
        <nav class="nav">
        	<ul class="nav__menu">
        		<li><a href="#">Nav Item</a></li>
        		<li><a href="#">Nav Item</a></li>
        		<li><a href="#">Nav Item</a></li>
        		<li><a href="#">Nav Item</a></li>
        		<li><a href="#">Nav Item</a></li>
        	</ul>
        </nav>
				<h3>Breadcrumbs</h3>
				<nav class="nav nav--breadcrumbs">
          <ul class="nav__menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Nested Category 1</a></li>
            <li><a href="#">Nested Category 2</a></li>
          </ul>
        </nav>
        <h3>Pagination</h3>
        <nav class="nav nav--pager">
          <ul class="nav__menu">
            <li class="prev"><a href="">Previous</a></li>
            <li><a href="">1</a></li>
            <li>...</li>
            <li><a href="">7</a></li>
            <li class="active"><a href="">8</a></li>
            <li><a href="">9</a></li>
            <li>...</li>
            <li><a href="">20</a></li>
            <li class="next"><a href="">Next</a></li>
          </ul>
        </nav>
			</section>
			<hr>
			<section id="sassquatch-buttons">
				<h2 class="jumplink__target">Buttons</h2>
				<button class="button">Basic Button</button>
				<button class="button button--large">Large Button</button>
				<button class="button button--small">Small Button</button>
				<button class="button button--primary">Primary Button</button>
				<button class="button button--secondary">Secondary Button</button>
				<button class="button button--text">Text Button</button>
				<button class="button button--full-width">Full Width Button</button>
			</section>
			<hr>
			<section id="sassquatch-buttons">
				<h2 class="jumplink__target">Dropdowns</h2>
				<div class="grid">
					<div class="grid__col--md-6">
						<button id="dropdown-content-1-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-1" aria-expanded="false">Dropdown</button>
						<div id="dropdown-content-1" class="dropdown__content card" aria-labelledby="dropdown-content-1-control" aria-expanded="false">
							<p>This is example dropdown content</p>
						</div>
					</div>
					<div class="grid__col--md-6">
						<div class="dropdown">
							<button id="dropdown-content-2-control" class="button button--dropdown dropdown__toggle" data-attach-icon-after="far fa-angle-down" aria-controls="dropdown-content-2" aria-expanded="false">Dropdown Overlay</button>
							<div id="dropdown-content-2" class="dropdown__content dropdown__content--overlay card" aria-labelledby="dropdown-content-2-control" aria-expanded="false">
								<p>This is example dropdown content</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr>
			<section id="sassquatch-forms">
				<h2 class="jumplink__target">Forms</h2>
				<form action="">
					<div class="form__group">
						<label for="text-1" class="form__label">Text Input</label>
						<input id="text-1" type="text" class="form__input" placeholder="Placeholder text">
					</div>
					<div class="form__group">
						<label for="select-1" class="form__label">Select Input</label>
						<select id="select-1" class="form__input">
							<option value="">Please Select</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
						</select>
					</div>
					<div class="form__group">
						<label for="textarea-1" class="form__label">Textarea</label>
						<textarea id="textarea-1" class="form__input"></textarea>
					</div>
					<fieldset class="form__group">
						<legend class="form__label">Radio Group</legend>
						<label class="form__radio">
							<input id="radio-1" type="radio" name="radios-1" value="radio-1">
							<span class="form__radio-label">Radio Button 1</span>
						</label>
						<label class="form__radio">
							<input id="radio-2" type="radio" name="radios-1" value="radio-2">
							<span class="form__radio-label">Radio Button 2</span>
						</label>
						<label class="form__radio">
							<input id="radio-3" type="radio" name="radios-1" value="radio-3">
							<span class="form__radio-label">Radio Button 3</span>
						</label>
					</fieldset>
					<fieldset class="form__group">
						<legend class="form__label">Checkbox Group</legend>
						<label class="form__radio">
							<input id="checkbox-1" type="checkbox" name="checkboxes-1" value="checkbox-1">
							<span class="form__radio-label">Radio Button 1</span>
						</label>
						<label class="form__radio">
							<input id="checkbox-2" type="checkbox" name="checkboxes-1" value="checkbox-2">
							<span class="form__radio-label">Radio Button 2</span>
						</label>
						<label class="form__radio">
							<input id="checkbox-3" type="checkbox" name="checkboxes-1" value="checkbox-3">
							<span class="form__checkbox-label">Radio Button 3</span>
						</label>
					</fieldset>
				</form>
			</section>
			<hr>
			<section id="sassquatch-tables">
				<h2 class="jumplink__target">Tables</h2>
				<table class="table">
          <thead>
            <tr>
              <th>Table heading 1</th>
              <th>Table heading 2</th>
              <th>Table heading 3</th>
              <th>Table heading 4</th>
              <th>Table heading 5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Table cell 1</td>
              <td>Table cell 2</td>
              <td>Table cell 3</td>
              <td>Table cell 4</td>
              <td>Table cell 5</td>
            </tr>
            <tr>
              <td>Table cell 1</td>
              <td>Table cell 2</td>
              <td>Table cell 3</td>
              <td>Table cell 4</td>
              <td>Table cell 5</td>
            </tr>
            <tr>
              <td>Table cell 1</td>
              <td>Table cell 2</td>
              <td>Table cell 3</td>
              <td>Table cell 4</td>
              <td>Table cell 5</td>
            </tr>
            <tr>
              <td>Table cell 1</td>
              <td>Table cell 2</td>
              <td>Table cell 3</td>
              <td>Table cell 4</td>
              <td>Table cell 5</td>
            </tr>
          </tbody>
        </table>
			</section>
			<hr>
			<section id="sassquatch-popups">
				<h2 class="jumplink__target">Popups</h2>
				<button class="button" data-popup="popup-1">Example Popup</button>
				<div id="popup-1" class="popup">
					<button class="popup__close"><i class="far fa-times" aria-hidden="true"></i><span class="webaim-hidden">Close popup</span></button>
					<h3>Popup</h3>
					<p>This is an example popup</p>
				</div>
			</section>
			<hr>
			<section id="sassquatch-alerts">
				<h2 class="jumplink__target">Alerts</h2>
				<div class="alert alert--has-icon">
			    <i class="alert__icon far fa-info-circle" aria-hidden="true"></i>
			    This is an info alert
			  </div>
			  <div class="alert alert--success alert--has-icon">
			    <i class="alert__icon far fa-check-circle" aria-hidden="true"></i>
			    This is a success alert
			  </div>
			  <div class="alert alert--warning alert--has-icon">
			    <i class="alert__icon far fa-exclamation-triangle" aria-hidden="true"></i>
			    This is a warning alert
			  </div>
			  <div class="alert alert--error alert--has-icon">
			    <i class="alert__icon far fa-exclamation-circle" aria-hidden="true"></i>
			    This is a danger alert
			  </div>     
			</section>
			<hr>
			<section id="sassquatch-tooltips">
				<h2 class="jumplink__target">Tooltips</h2>
				<p>Tooltip Top <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--top">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
        <p>Tooltip Right <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--right">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
        <p>Tooltip Bottom <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--bottom">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
        <p>Tooltip Left <button class="button button--text tooltip__toggle"><span class="tooltip tooltip--left">this is an example tooltip</span><i class="far fa-question-circle" aria-hidden="true"></i></button></p>
      </section>
      <hr>
      <section id="sassquatch-tabs">
      	<h2 class="jumplink__target">Tabs</h2>
      	<div class="tabs">
          <div class="tabs__list" role="tablist">
            <a id="tab-1" href="#" class="tabs__list-item tabs__tab-control active" role="tab" aria-selected="true" aria-controls="tab-1-content">Tab 1</a>
            <a id="tab-2" href="#" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="tab-2-content">Tab 2</a>
            <a id="tab-3" href="#" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="tab-3-content">Tab 3</a>
          </div>
          <div class="tabs__content-container">
            <div id="tab-1-content" class="tabs__content active" role="tabpanel" aria-labelledby="tab-1" tabindex="-1">
              <h3>Tab 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="tab-2-content" class="tabs__content" role="tabpanel" aria-labelledby="tab-2" tabindex="-1">
              <h3>Tab 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="tab-3-content" class="tabs__content" role="tabpanel" aria-labelledby="tab-3" tabindex="-1">
              <h3>Tab 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </section>
		</div>
	</div>
</div>

{% endblock %}
