<div class="grid-preview">
  <div class="dropdown">
    {% include "../button.twig" with {'class' : 'btn--dropdown drawer-toggle', 'text' : 'Preview Grid', 'icon' : 'angle-down', 'attr' : 'aria-expanded="false"'} %}
    <div class="card drawer drawer--overlay" aria-expanded="false">
      <div class="grid">
        {% include "../card.twig" with {'column' : '1', 'content' : '<span class="ellipsis">.grid__col--1</span>'} %}
        {% include "../card.twig" with {'column' : '11', 'content' : '<span class="ellipsis">.grid__col--11</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '2', 'content' : '<span class="ellipsis">.grid__col--2</span>'} %}
        {% include "../card.twig" with {'column' : '10', 'content' : '<span class="ellipsis">.grid__col--10</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '3', 'content' : '<span class="ellipsis">.grid__col--3</span>'} %}
        {% include "../card.twig" with {'column' : '9', 'content' : '<span class="ellipsis">.grid__col--9</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '4', 'content' : '<span class="ellipsis">.grid__col--4</span>'} %}
        {% include "../card.twig" with {'column' : '8', 'content' : '<span class="ellipsis">.grid__col--8</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '5', 'content' : '<span class="ellipsis">.grid__col--5</span>'} %}
        {% include "../card.twig" with {'column' : '7', 'content' : '<span class="ellipsis">.grid__col--7</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '6', 'content' : '<span class="ellipsis">.grid__col--6</span>'} %}
        {% include "../card.twig" with {'column' : '6', 'content' : '<span class="ellipsis">.grid__col--6</span>'} %}
      </div>
      <div class="grid">
        {% include "../card.twig" with {'column' : '12', 'content' : '<span class="ellipsis">.grid__col--12</span>'} %}
      </div>
    </div>
  </div>
</div>