<div class='col--md-{{ colWidth }}'>
  <div class='palette palette_{{ num }}'>
    <div class='palette_light'></div>
    <div class='palette_dark'></div>
  </div>
  <div class='palette_{{ num }}-info'>
    <div class='palette_info-light'>
      <span class='copy fa fa-files-o' aria-hidden='true'></span>    
    </div>
    <div class='palette_info-default'>
      <span class='copy fa fa-files-o' aria-hidden='true'></span>  
    </div>
    <div class='palette_info-dark'>
      <span class='copy fa fa-files-o' aria-hidden='true'></span>
    </div>
  </div>
</div>
