.alert{
  padding:15px;
  border:1px solid;
  border-left:8px solid;
  margin-bottom:15px;
  position:relative;
  border-radius:5px;
  &--info{
    border-color:$color-info-dk;
    background:$color-info-lt;
    i{
      color:$color-info-dk;
    }
  }
  &--success{
    border-color:#c9e1bd #c9e1bd #c9e1bd $color-success;
    background:$color-success-lt;
    i{
      color:$color-success-dk;
    }
  }
  &--warning{
    border-color:$color-caution-dk;
    background:$color-caution-lt;
    i{
      color:$color-caution-dk;
    }
  }
  &--danger{
    border-color:#f9c9bf #f9c9bf #f9c9bf $color-danger;
    background:$color-danger-lt;
    color:$color-danger-dk;
    a{
      color:$color-dk;
    }
    i{
      color:$color-danger-dk;
    }
  }
  &__close{
    position:absolute;
    top:15px;
    right:15px;
  }
}