.alert{
  padding:15px;
  border:1px solid;
  margin-bottom:15px;
  position:relative;
  &--info{
    border-color:$color-info-dk;
    background:$color-info-lt;
    i{
      color:$color-info-dk;
    }
  }
  &--success{
    border-color:$color-success-dk;
    background:$color-success-lt;
    i{
      color:$color-success-dk;
    }
  }
  &--warning{
    border-color:$color-caution-dk;
    background:$color-caution-lt;
    i{
      color:$color-caution-dk;
    }
  }
  &--danger{
    border-color:$color-danger-dk;
    background:$color-danger-lt;
    i{
      color:$color-danger-dk;
    }
  }
  &__close{
    position:absolute;
    top:15px;
    right:15px;
  }
}