/* BUTTON COMPONENTS
---------------------------------------------------------------------------*/

.btn{
  padding:10px 25px;
  cursor:pointer;
  transition:all 0.2s;
  display:inline-block;
  appearance:none;
  text-decoration:none;
  border:0;
  border-radius:0;
  @include set-type(14, 700, 20);
  &:hover,
  &:focus{
    background:lighten($color-med, 10%);
  }
  &--link{
    background:transparent;
    text-decoration:none;
    color:$color-dk;
    padding:0;
    &:hover,
    &:focus{
      background:transparent;
      text-decoration:underline;
    }
  }
  &--pager{
    display: inline-block;
    position: relative;
    i{
      position:absolute;
      top:50%;
      transform:translate(0, -50%);
      transition:transform 0.1s ease-in-out; 
    }
    &:hover,
    &:focus{
      i{
        animation-name: hover-button;
        animation-duration: 1s;
        transform:translate(0, -50%);
      }
    }
    &-forward{
      padding-left: 30px;
      i{
        left:10px;
      }
    }
    &-back{
      padding-right: 30px;
      i{
        right:10px;
      }
    }
  }
  &--close{
    padding:0;
    background:transparent;
    &:hover,
    &:focus{
      background:transparent;
    }
  }
  &--dropdown{
    @include set-type(18, 600, 22);
    width:100%;
    text-align:left;
    padding:10px 15px;
    background:$color-lt;
    border:1px solid $color-neutral-dk;
    position:relative;
    transition:none;
    &:hover,
    &:focus{
      background:$color-lt;
    }
  }
}