/* BUTTON COMPONENTS
---------------------------------------------------------------------------*/

.btn{
  padding:10px 25px;
  cursor:pointer;
  transition:all 0.2s;
  display:inline-block;
  appearance:none;
  text-decoration:none;
  border:0;
  @include set-type(14, 700, 20);
  &_link{
    background:transparent;
    text-decoration:none;
    padding:5px 0;
    &:hover,
    &:focus{
      text-decoration:underline;
    }
  }
  &_prev{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    i{
      position:absolute;
      left:10px;
      top:50%;
      transform:translate(0, -50%);
      transition:transform 0.1s ease-in-out;
    }
    &:hover,
    &:focus{
      i{
        animation-name: hover-button;
        animation-duration: 1s;
        transform:translate(0, -50%);
      }
    }
  }
  &_next{
    display: inline-block;
    position: relative;
    padding-right: 30px;
    i{
      position:absolute;
      right:10px;
      top:50%;
      transform:translate(0, -50%);
      transition:transform 0.1s ease-in-out;
    }
    &:hover,
    &:focus{
      i{
        animation-name: hover-button;
        animation-duration: 1s;
        transform:translate(0, -50%);
      }
    }
  }
  &_drawer-toggle{
    @include set-type(18, 600, 22);
    width:100%;
    text-align:left;
    padding:10px 15px;
    background:$color-lt;
    border:1px solid $color-neutral-dk;
    position:relative;
    transition:none;
    i{
      position:absolute;
      right:15px;
      top:50%;
      transform:translateY(-50%);
      transition:transform 0.2s;
    }
  
    &.open{
      i{
        transform:rotate(180deg) translateY(50%);
      }
    }
  }
}