/* EXAMPLE COMPONENTS
---------------------------------------------------------------------------*/

.grid-preview{
  height:43px;
  position:relative;
  .drawer_wrapper{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:10;
  }
}