/* FORM COMPONENTS
---------------------------------------------------------------------------*/
.form{
  &__group{
    margin-bottom:25px;
  }
  &__input{
    width:100%;
    appearance:none;
    border:none;
    border-radius:0;
    border:1px solid $color-neutral-dk;
    background:$color-lt;
    color:$color-dk;
    font-family:$font-body-family;
    @include set-type(16, 400, 20);
    padding:10px;
    margin:0;
    max-width:100%;
  }
  &__label{
    display:block;
    margin-bottom:5px;
    font-weight:600;
  }
  &__select-wrapper{
    position:relative;
    display:inline-block;
    width:100%;
    .form__input{
      padding-right:30px;
      + i{
        pointer-events:none;
      position:absolute;
      right:10px;
      top:50%;
      transform:translateY(-50%);
      color:$color-dk;
      }
    }
  }
  &__radio,
  &__checkbox{
    display:table;
    padding-left:20px;
    position:relative;
    input{
      position:absolute;
      left:0;
      top:6px;
    }
  }
  &--inline{
    .form{
      &__group,
      &__label,
      &__input{
        display:inline-block;
      }
      &__group{
        margin-right:30px;
        &:last-of-type{
          margin-right:0;
        }
      }
      &__label{
        margin-right:10px;
      }
    }
  }
}


