.tabs{
  border:2px solid $color-brand-2-lt;
  &__list{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    background:$color-brand-2-lt;
    &-item{
      margin:0;
      flex-grow:1;
      text-align:center;    
    }
  }
  &__tab-control{
    display:block;
    padding:10px 15px;
    background:$color-brand-2-lt;
    &.active{
      background:$color-brand-2-lt;
    }
  }
  &__content{
    padding:15px;
    background:$color-brand-2-lt;
    display:none;
    &.active{
      display:block;
    }
  }
}