.tooltip-toggle{
  position:relative;
  &:hover,
  &:focus{
    .tooltip{
      display:inline-block;
    }
  }
}

.tooltip{
  display:none;
  background:$color-lt;
  width:200px;
  padding:10px;
  position:absolute;
  bottom:100%;
  left:50%;
  margin-bottom:10px;
  transform:translateX(-50%);
  z-index:10;
  @include component-raised($color-brand-2-lt);
  &:before,
  &:after{
    content:'';
    display:block;
    width: 0; 
    height: 0; 
    position:absolute;
  }
  &:before{
    border-left: 9.5px solid transparent;
    border-right: 9.5px solid transparent;
    border-top: 9.5px solid $color-brand-2-lt;
    bottom:-9.5px;
    left:50%;
    transform:translateX(-50%);
  }
  &:after{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-lt;
    bottom:-8px;
    left:50%;
    transform:translateX(-50%);
  }
}