<!Doctype html>
<html lang="en-CA">
  {% include "../partials/head.twig" %}
  <body>
    {% include "../partials/header.twig" %}

    <main class="main" id="main-content">
      {% block content %}{% endblock %}
    </main><!-- /main -->

    {% include "../partials/footer.twig" %}
  </body>
</html>

