{% extends "templates/layouts/subpage.twig" %}
{% set title = "Sswatch" %}
{% set pageTitle = "Test" %}

{% block content %}

  <div class="row">
    <div class="col_sm-3">
      {% include "templates/partials/sidebar.twig" %}
    </div>
    <div class="col_sm-9">
    </div>
  </div>

{% endblock %}