{% extends "templates/layouts/default.twig" %}
{% set pageTitle = "Home" %}

{% block content %}

  <section id="grid"><!-- Grid -->
    <div class="centered-content">
      <h2>The Grid</h2>
      {% include "components/examples/grid.twig" %}
    </div>
  </section><!-- /Grid -->

  <section id="menus"><!-- Menus -->
    <div class="centered-content">
      <h2>Navigation</h2>
      <div class="grid">
        <div class="grid__col--12">
          {% include "components/navigation.twig" %}
        </div>
      </div>
      <div class="grid">
        <div class="grid__col--12">
          {% include "components/navigation.twig" with {'modifier': 'inline'} %}
        </div>
      </div>
      <div class="grid">
        <div class="grid__col--12">
          <nav class="nav nav--breadcrumbs">
            <ul class="nav__menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Category 1</a></li>
              <li><a href="#">Nested Category 1</a></li>
              <li><a href="#">Nested Category 2</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col--sm-4">
          <nav class="nav nav--vertical">
            <ul class="nav__menu">
              <li>
                <a href="#"><span data-attach-icon-after="caret-down">Top level menu item</span></a>
                <ul>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                  <li>
                    <a href="#"><span data-attach-icon-after="caret-down">Second level menu item</span></a>
                    <ul>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                    </ul>
                  </li>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                </ul>
              </li>
              <li class="active-trail">
                <a href="#"><span data-attach-icon-after="caret-down">Top level menu item</span></a>
                <ul>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                  <li class="active">
                    <a href="#"><span data-attach-icon-after="caret-down">Second level menu item</span></a>
                    <ul>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                      <li><a href="#"><span>Third level menu item</span></a></li>
                    </ul>
                  </li>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                  <li><a href="#"><span>Second level menu item</span></a></li>
                </ul>
              </li>
              <li><a href="#"><span>Top level menu item</span></a></li>
              <li><a href="#"><span>Top level menu item</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="grid__col--sm-4">
        </div>
        <div class="grid__col--sm-4">
        </div>
      </div>
    </div>
  </section><!-- /Menus -->

  <section id="dropdowns"><!-- Dropdowns -->
    <div class="centered-content">
      <h2>Dropdowns</h2>
      <div class="grid">
        <div class="grid__col--sm-4">
          <div class="dropdown">
            {% include "components/button.twig" with {'class' : 'btn--dropdown drawer-toggle', 'text' : 'Dropdown', 'icon' : 'angle-down', 'attr' : 'aria-expanded="false"'} %}
            <div class="card drawer" aria-expanded="false">
              <p>Lorem ipsum<sup>sup</sup> dolor<sub>sub</sub> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>
        <div class="grid__col--sm-4">
          <div class="dropdown">
            {% include "components/button.twig" with {'class' : 'btn--dropdown drawer-toggle', 'text' : 'Dropdown overlay', 'icon' : 'angle-down', 'attr' : 'aria-expanded="false"'} %}
            <div class="card drawer drawer--overlay" aria-expanded="false">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Dropdowns -->

  <section id="buttons"><!-- Buttons -->
    <div class="centered-content">
      <h2>Buttons</h2>
      <p>
        {% include "components/button.twig" with {'class' : 'btn--pager btn--pager-forward', 'text' : 'Previous button link', 'iconBefore' : 'long-arrow-left'} %}
        {% include "components/button.twig" with {'class' : 'btn--pager btn--pager-back', 'text' : 'Next button link', 'iconAfter' : 'long-arrow-right'} %}
        {% include "components/button.twig" with {'class' : 'btn--link', 'text' : 'Link button'} %}
      </p>
    </div>
  </section><!-- /Buttons -->

  <section id="tables"><!-- Tables -->
    <div class="centered-content">
      <h2>Tables</h2>
      <table>
        <thead>
          <tr>
            <th>Table heading 1</th>
            <th>Table heading 2</th>
            <th>Table heading 3</th>
            <th>Table heading 4</th>
            <th>Table heading 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
        </tbody>
      </table>
      <table class="bordered">
        <thead>
          <tr>
            <th>Table heading 1</th>
            <th>Table heading 2</th>
            <th>Table heading 3</th>
            <th>Table heading 4</th>
            <th>Table heading 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section><!-- /Tables -->

  <section id="popups"><!-- Popups -->
    <div class="centered-content">
      <h2>Popup Modals</h2>
      {% include "components/popup.twig" with {'id': 'example-popup', 'buttonText' : 'Example popup', 'title' : 'Popup', 'content' : '<p>This is an example popup</p>'} %}
      {% include "components/popup.twig" with {'id': 'example-popup-2', 'buttonText' : 'Another popup', 'content' : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>'} %}
    </div>
  </section><!-- /Popups -->

  <section id="alerts"><!-- Alerts -->
    <div class="centered-content">
      <h2>Alerts</h2>
      {% include "components/alert.twig" with {'type' : 'info', 'icon' : 'info-circle', 'content' : 'This is an info alert'} %}
      {% include "components/alert.twig" with {'type' : 'success', 'icon' : 'check-circle', 'content' : 'This is a success alert'} %}
      {% include "components/alert.twig" with {'type' : 'warning', 'icon' : 'exclamation-triangle', 'content' : 'This is a warning alert'} %}
      {% include "components/alert.twig" with {'type' : 'danger', 'icon' : 'exclamation-circle', 'content' : 'This is a danger alert'} %}
    </div>
  </section><!-- /Alerts -->

  <section id="tooltips"><!-- Tooltips -->
    <div class="centered-content">
      <h2>Tooltips</h2>
      <p>Tooltip bottom {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--bottom">this is an example tooltip</span>', 'icon' : 'question-circle'} %}</p>
      <p>Tooltip top {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--top">this is an example tooltip</span>', 'icon' : 'question-circle'} %}</p>
      <p>Tooltip left {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--left">this is an example tooltip</span>', 'icon' : 'question-circle'} %}</p>
      <p>Tooltip right {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--right">this is an example tooltip</span>', 'icon' : 'question-circle'} %}</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--bottom">this is an example tooltip</span>', 'icon' : 'question-circle'} %} nisi ut aliquip ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore {% include "components/button.twig" with {'class' : 'btn--link tooltip-toggle', 'text' : '<span class="tooltip tooltip--top">this is an example tooltip</span>', 'icon' : 'question-circle'} %} eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </section><!-- /Tooltips -->

  <section id="lists"><!-- Lists -->
    <div class="centered-content">
      <h2>Lists</h2>
      <div class="grid">
        <div class="grid__col--sm-4">
          <ul>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ul>
        </div>
        <div class="grid__col--sm-4">
          <ol>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ol>
        </div>
        <div class="grid__col--sm-4">
          <ul>
            <li>List item</li>
            <li>
              List item
              <ul>
                <li>Nested list item</li>
                <li>
                  Nested list item
                  <ol>
                    <li>Nested list item</li>
                    <li>Nested list item</li>
                  </ol>
                </li>
                <li>Nested list item</li>
              </ul>
            </li>
            <li>List item</li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- /Lists -->

  <section id="tabs"><!-- Tabs -->
    <div class="centered-content">
      <h2>Tabs</h2>
      <div class="tabs">
        <div class="tabs__list" role="tablist">
          <a id="tab-1" href="#tab-1-content" class="tabs__list-item tabs__tab-control active" role="tab" aria-selected="true" aria-controls="#tab-1-content">Tab 1</a>
          <a id="tab-2" href="#tab-2-content" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="#tab-2-content">Tab 2</a>
          <a id="tab-3" href="#tab-3-content" class="tabs__list-item tabs__tab-control" role="tab" aria-selected="false" aria-controls="#tab-3-content">Tab 3</a>
        </div>
        <div class="tabs__content-container">
          <div id="tab-1-content" class="tabs__content active" role="tabpanel" aria-labelledby="#tab-1" tabindex="-1">
            <h3>Tab 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div id="tab-2-content" class="tabs__content" role="tabpanel" aria-labelledby="#tab-2" tabindex="-1">
            <h3>Tab 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div id="tab-3-content" class="tabs__content" role="tabpanel" aria-labelledby="#tab-3" tabindex="-1">
            <h3>Tab 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Tabs -->

  <section id="sliders">
    <div class="centered-content">
      <h2>Sliders</h2>
      <div class="slider">
        <ul class="slider__slides">
          <li class="slider__slide active">
            <div class="grid">
              <div class="grid__col--md-3 slider__slide--mobile active">
                <a href="#"><img src="https://placehold.it/100x100" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/200x200" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/300x300" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/400x400" alt="product" class="full-width"></a>
              </div>
            </div>
          </li>
          <li class="slider__slide">
            <div class="grid">
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/500x500" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/600x600" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/700x700" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/800x800" alt="product" class="full-width"></a>
              </div>
            </div>
          </li>
          <li class="slider__slide">
            <div class="grid">
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/900x900" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/1000x1000" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/1100x1100" alt="product" class="full-width"></a>
              </div>
              <div class="grid__col--md-3 slider__slide--mobile">
                <a href="#"><img src="https://placehold.it/1200x1200" alt="product" class="full-width"></a>
              </div>
            </div>
          </li>
        </ul>
        <button class="slider__btn slider__btn--prev"><i class="fa fa-chevron-left" aria-hidden="true"></i><span class="webaim-hidden">Previous</span></button>
        <button class="slider__btn slider__btn--next"><i class="fa fa-chevron-right" aria-hidden="true"></i><span class="webaim-hidden">Next</span></button>
      </div>
    </div>
  </section>

{% endblock %}
