{% extends "templates/layouts/default.twig" %}
{% set pageTitle = "Home" %}

{% block content %}

  <section id="colors">
    <div class="centered-content">
      <h2>Color Palette</h2>
      <div class="palettes">
        <!-- Colors will render here based on the color-data value entered -->
      </div>
    </div>
  </section>
  <section id="grid">
    <div class="centered-content">
      <h2>The Grid</h2>
      <div class="form-group">
        <select id="select-grid" class="form-input">
          <option value="default">Default Grid</option>
          <option value="sm">Mobile Grid</option>
          <option value="md">Tablet Grid</option>
          <option value="lg">Desktop Grid</option>
          <option value="xl">Wide Desktop Grid</option>
        </select>
      </div>
      <!-- Grid preview will render here based on the selected grid -->
    </div>
  </section>
  <section id="buttons">
    <div class="centered-content">
      <h2>Buttons</h2>
      <p>
        <button data-attach-icon-before="long-arrow-left" class="btn btn_nav btn_prev">Previous button link</button>
        <button data-attach-icon-after="long-arrow-right" class="btn btn_nav btn_next">Next button link</button>
      </p>
    </div>
  </section>
  <section id="tables">
    <div class="centered-content">
      <h2>Tables</h2>
      <table>
        <thead>
          <tr>
            <th>Table heading 1</th>
            <th>Table heading 2</th>
            <th>Table heading 3</th>
            <th>Table heading 4</th>
            <th>Table heading 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
        </tbody>
      </table>
      <table class="bordered">
        <thead>
          <tr>
            <th>Table heading 1</th>
            <th>Table heading 2</th>
            <th>Table heading 3</th>
            <th>Table heading 4</th>
            <th>Table heading 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
          <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
            <td>Table cell 5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}