{% extends "templates/layouts/subpage.twig" %}
{% set pageTitle = "SASS" %}

{% block content %}

  <div class="row">
    <div class="col_sm-3">
      {% include "templates/partials/sidebar.twig" with {'page' : pageTitle} %}
    </div>
    <div class="col_sm-9">
      
    </div>
  </div>

{% endblock %}