/*
  Sswatch
  Version: 0.1
  Author: Kevin Andrews

  Sswatch uses the BEM css class naming convention.
  .block__element
  .block--modifier
  .block__element--modifier
  .block--modifier__element--modifier
*/

/* VARIABLES
------------------------------------------------------------------------------*/
@import "config/variables/colours";
@import "config/variables/typography";
@import "config/variables/structure";

/* ANIMATIONS
------------------------------------------------------------------------------*/
@import "theme/animations/animations";

/* MIXINS
------------------------------------------------------------------------------*/
@import "config/mixins/accessibility";
@import "config/mixins/components";
@import "config/mixins/structure";
@import "config/mixins/typography";

/* CONFIGURATION
------------------------------------------------------------------------------*/
@import "config/reset";
@import "config/fonts";
@import "config/drupal/tabs";

/* THEME BASELINE STYLES
------------------------------------------------------------------------------*/
@import "theme/base";

/* THEME STRUCTURE
------------------------------------------------------------------------------*/
@import "theme/structure/grid";
@import "theme/structure/common";
@import "theme/structure/navigation";
@import "theme/structure/header";
@import "theme/structure/sections";
@import "theme/structure/sidebar";
@import "theme/structure/footer";

/* THEME COMPONENTS
------------------------------------------------------------------------------*/
@import "theme/components/banners";
@import "theme/components/buttons";
@import "theme/components/cards";
@import "theme/components/dropdowns";
@import "theme/components/tooltips";
@import "theme/components/forms";
@import "theme/components/tables";
@import "theme/components/popups";
@import "theme/components/alerts";
@import "theme/components/tabs";

/* THEME HELPERS
------------------------------------------------------------------------------*/
@import "theme/helpers/components";
@import "theme/helpers/structure";
@import "theme/helpers/accessibility";
@import "theme/helpers/typography";
