/* Brand Colours
------------------------------------------------------------------------------*/
$color-threshold: 20%;

$color-brand-1:       #ffb3ec!default; // pink
$color-brand-1-lt:    #ffe6f9!default;
$color-brand-1-dk:    #b30077!default;

$color-brand-2:       #b3b3cc!default; // blue
$color-brand-2-lt:    #e0e0eb!default;
$color-brand-2-dk:    #47476b!default;

$color-neutral:       #CCCCCC!default; // grey
$color-neutral-lt:    #f2f2f2!default;
$color-neutral-dk:    #4d4d4d!default;

/* General Colours
------------------------------------------------------------------------------*/
$color-lt:            #ffffff!default; // white
$color-med:           #CCCCCC!default; // grey
$color-dk:            #000000!default; // black

/* Contextual Colours
------------------------------------------------------------------------------*/
$color-default:       #b3b3cc!default; // blue
$color-default-lt:    #e0e0eb!default;
$color-default-dk:    #47476b!default;

$color-error:         #e62600!default; // red
$color-error-lt:      #fcf4f2!default;
$color-error-dk:      #a51b00!default;

$color-success:       #77b259!default; // green
$color-success-lt:    #f3faef!default;
$color-success-dk:    #325e1c!default;

$color-warning:       #ffdb4d!default; // yellow
$color-warning-lt:    #fffae6!default;
$color-warning-dk:    #e6b800!default;