$site-width:1260px!default;

$columns: 12!default;
$gutter: 15!default;
$gutter-width:$gutter + px;

$mobile:       480px;
$tablet:       768px;
$desktop:      992px;
$desktop-wide: 1200px;

$breakpoints: $mobile $tablet $desktop $desktop-wide;
$grid-prefix: sm md lg xl;
