$theSize: 16!default;
$font-base-size: 16!default;

$font-body-family:    'Helvetica Nueue', 'Arial', sans-serif!default;
$font-display-family: 'Helvetica Nueue', 'Arial', sans-serif!default;
$font-icon-family:    'FontAwesome'!default;