/* BUTTON COMPONENT
---------------------------------------------------------------------------*/
.button{
  padding:10px 25px;
  cursor:pointer;
  transition:all 0.2s;
  display:inline-block;
  appearance:none;
  font-family:$font-body-family;
  text-decoration:none;
  border-radius:0;
  border:none;
  margin:5px;
  margin-left:0;
  background:$color-lt;
  color:$color-brand-2;
  @include set-type(16, 700, 24);
  box-shadow:0 0 5px $color-med;
  &:active{
    transform:translate(1px, 1px);
    box-shadow:inset 0px 0px 10px $color-med;
  }
  &:last-child{
    margin-bottom:0;
  }
  &--primary{
    background:$color-brand-1;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-brand-1-lt;
    }
  }
  &--secondary{
    background:$color-brand-2;
    color:$color-lt;
    &:hover,
    &:focus{
      background:$color-brand-2-lt;
    }
  }
  &--text{
    padding:0;
    background:transparent;
    box-shadow:none;
    color:$color-brand-1;
    @include link-interaction($color-brand-1, 'false');
    &:active{
      box-shadow:none;
    }
  }
  &--dropdown{
    width:100%;
    display:block;
    border:1px solid $color-med;
    + .dropdown__content{
      border-top:none;
    }
  }
  &--small{
    padding:5px 15px;
    @include set-type(14, 700, 20);
  }
  &--large{
    padding:15px 30px;
    @include set-type(18, 700, 26);
  }
  &--full-width{
    display:block;
    width:100%;
    margin-left:0;
    margin-right:0;
  }
  &[disabled]{
    cursor:default;
    opacity:0.5;
  }
}