/* BASELINE STYLES
----------------------------------------------------------------------*/
html,
body{
  font-size: $font-base-size + px; 
  font-family: $font-body-family;
  line-height:1.4em;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:$font-display-family;
  margin-bottom: 20px;
  margin-top:15px;
  &:first-child{
    margin-top:0;
  }
}

*{
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6{
    margin-top:45px;
  }
}

h1{
  @include set-type(32, 700, 38);
}

h2{
  @include set-type(28, 600, 34);
}

h3{
  @include set-type(24, 600, 28);
}

h4{
  @include set-type(20, 600, 24);
}

h5{
  @include set-type(18, 600, 22);
}

h6{
  @include set-type(16, 600, 20);
}

p{
  margin-bottom:15px;
}

a, 
img{
  border:none;
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

small{
  font-size:0.8em;
}

ul{
  list-style:initial;
}

ol{
  list-style-type:decimal;
}

ul,
ol{
  padding-left:20px;
  margin-bottom:25px;
  li{
    margin-bottom:10px;
  }
  &.menu{
    padding-left:0;
  }
}

hr{
  margin:15px 0;
}

nav{
  ul,
  ol{
    list-style:none;
    padding-left:0;
    li{
      margin-bottom:0;
    }
  }
}

section{
  padding:30px 0;
  *:first-child{
    &:empty{
      + * {
        margin-top:0;
      }
    }
  }
}

details{
  display:block;
  summary{
    padding:10px;
  }
}
