html,
body{
  font-size: $font-base-size + px; 
  font-family: $font-body-family;
  color:$color-brand-2-dk;
  line-height:1.4;
  margin:0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

*{
  box-sizing: border-box;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
  
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:$font-display-family;
  margin-bottom: 20px;
  margin-top:15px;
  &:first-child{
    margin-top:0;
  }
}

*{
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6{
    margin-top:45px;
  }
}

h1{
  @include set-type(32, 700, 38);
}

h2{
  @include set-type(28, 600, 34);
}

h3{
  @include set-type(24, 600, 28);
}

h4{
  @include set-type(20, 600, 24);
}

h5{
  @include set-type(18, 600, 22);
}

h6{
  @include set-type(16, 600, 20);
}

p{
  margin-bottom:15px;
}

a{
  color:$color-link;
  &:hover,
  &:focus{
    text-decoration:none;
  }
}

a, 
img{
  border:none;
}

img{
  &:only-child{
    display:block;
  }
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

small{
  font-size:0.8em;
}

sup,
sub{
  font-size:0.6em;
}

sup{
  vertical-align:text-top;
}

sub{
  vertical-align:text-bottom;
}

ul{
  list-style:initial;
}

ol{
  list-style-type:decimal;
}

ul,
ol{
  padding-left:20px;
  margin-bottom:25px;
  li{
    margin-bottom:10px;
    > ul,
    > ol{
      margin-top:10px;
      &:last-child{
        margin-top:10px;
      }
    }
  }
}

hr{
  margin:15px 0;
  border:none;
  height:1px;
  width:100%;
  background:$color-brand-2-lt;
}

nav{
  ul,
  ol{
    list-style:none;
    padding-left:0;
    li{
      margin-bottom:0;
      > ul,
      > ol{
        margin-top:0;
        &:last-child{
          margin-top:0;
        }
      }
    }
  }
}

section{
  padding:30px 0;
  *:first-child{
    &:empty{
      + * {
        margin-top:0;
      }
    }
  }
}

details{
  display:block;
  summary{
    padding:10px;
  }
}

select::-ms-expand {
  display: none;
}
